[2017-03-20 22:48] 3Dgoo commented on #543
Having multiple user defined forms on one page also has an issue in that every form has the same `id` html attribute value of `UserForm_Form`. This causes invalid html.

We could change the form name from `"UserForm_Form"` to `"UserForm_Form" . $this->ID"`. This would make the form ID unique for every form and fix that issue.

I'm happy to submit a pull request with this fix if you would like me t

[2017-03-21 01:12] robbyahn commented on #548
I used Checkbox Group field
have inserted 3 test options test1 (value: test1) test2 (value: test2) test3 (value: test3)
whatever users choose options, validation error is appearing.
![checkbox group error](https://cloud.githubusercontent.com/assets/2970208/24128379/5e57d920-0e40-11e7-9ebf-4e31ec673e5b.png)

[2017-03-23 19:45] digitall-it commented on #434
As I was searching for the same answer, I propose to update the documentation to give more visibility to this answer.

[2017-03-29 00:06] 3Dgoo opened #561 "Config variable to optionally include JavaScript and CSS"
It would be nice to have a config variable that allows us to control whether UserDefinedForm adds all the css and jQuery files to the Requirements.

I like to include my own version of jQuery and my own jQuery validate. I also like to style my forms myself and so do not use `UserForm.css`. I do not use any of the css or JavaScript files that are loaded in the `UserDefinedForm_Controller` `init` fu

[2017-03-29 10:12] ohararyan opened #563 "Previewing emails no longer works after setting email template directory"
After setting the email template directory in the config, I can no longer preview the email in the CMS.

[code]

I've saved the EmailRecipient data object, and then push the preview button and the below error appears.

[code]

Note: the templates are pulled through correctly into the template dropdown, and these render correctly when sending emails. It's just previewing that is an issue.

Have tes

[2017-03-29 20:39] leighelse opened #564 "Accessibility: <label> is only valid when applied to a form control"
The HTML Block field type (LiteralField) presents a title, if entered, as a label. Our accessibility advisor tells us <label> element is only valid when it points to a form control.

Because this output is hard-coded in userform.php, our workaround was to extend that class, iterate through the $fields array and selectively replace <label> tags on LiteralFields. This works, but a template would hav

[2017-03-30 20:19] dhensby commented on #543
@3Dgoo happy to accept improvements of that kind but I feel that would need to be in master (the next major release) as people may rely on the ID for their own JS...

The real issue is fixing our JS and I had a look at it and I'm not going near it ;)

I think I'm going to close this as a feature request - if someone wants to work on it I'll accept a patch that allows this to happen, but it's not c

[2017-03-31 01:23] jaedb commented on #555
With this in mind, to resolve this issue the field should be removed from the CMS.

[2017-03-31 13:13] 3Dgoo commented on #543
Sounds good. Will do.

[2017-03-31 16:12] digi-brains commented on #555
Yes. Exactly what @jaedb said. The field serves no discernible purpose. And it's confusing to the end user.

[2017-03-31 20:12] dhensby commented on #555
that's a valid point - cc @tractorcow

[2017-03-31 20:16] dhensby commented on #555
Hmm - it looks like you can set a config to enable this option (`allow_unbound_recipient_fields`) introduced by https://github.com/silverstripe/silverstripe-userforms/issues/490 and released in 4.1.0 and 4.2.0+

[2017-04-01 09:57] tractorcow commented on #548
@dhensby I know I'm slow to respond to issues, but I have a feeling this bug is real. :)

[2017-04-01 10:02] tractorcow commented on #561
Fixed with #562

[2017-04-01 10:02] #561 closed

[2017-04-07 03:40] robbieaverill opened #566 "Holder: Updates for WCAG 2.0 accessibility compliance"
## Purpose

This issue is to register a list of things that should be updated so the userforms module can conform to [WCAG 2.0 accessibility standards](https://www.w3.org/WAI/WCAG20/quickref/).

---

## Details

### List containers should not have _name_ attributes

`<ol>` and `<ul>` elements should not have `name="MyElementName"` attributes

- [x] ~~Can't reproduce~~

### A label is only valid if

[2017-04-10 05:55] robbieaverill commented on #563
@ohararyan I can't reproduce this issue on 3.5.3 with userforms 4.2.3 - would you mind please trying it again and letting me know if you still encounter this issue?

[2017-04-10 06:14] robbieaverill commented on #563
Confirmed on SS 3.5.3 with userforms 4.2.3

[2017-04-10 10:39] robbieaverill commented on #548
I've tried a few combinations of the configuration in your screenshot @robbyahn but I can't reproduce this issue on SS 3.5.3 and userforms 4.2.3. Would you mind posting some more descriptive steps to reproduce the issue so we can help you to resolve this?

[2017-04-10 10:47] robbieaverill commented on #547
I can't reproduce the original problem on SS 3.5.3 and userforms 3.2.3 following the steps in this issue's description. For me it works correctly using `.parents(...`, however the change at #550 also works fine, and is already merged. Closing as fixed.

[2017-04-10 10:47] #547 closed

[2017-04-10 10:52] robbieaverill commented on #522
Going by @dhensby's performance improvements in #538, and @tractorcow's suggestion about us not having plans to re-implement changes to the publishing model for SilverStripe 3.x I'm going to close this as fixed. If you still experience problems with this latest patch in place @pitchandtone feel free to reopen this issue with some more information so we can look into it further.

[2017-04-10 10:52] #522 closed

[2017-04-10 10:56] robbieaverill commented on #519
@sminnee I'm keen to do any required updates since you originally created this pull request. Do you want to give me write access to your fork for any follow up commits required, or shall I merge #518 and make a follow up PR? cc @tractorcow @dhensby

[2017-04-10 10:59] robbieaverill commented on #516
@cmcramer as @dhensby has suggested you should be able to target these form fields using class based CSS selectors, using the container and the field type which in combination would be classes unique to a specific field type in a userform on your site.

I don't think we'd encourage using HTML name attributes as CSS selectors, and if that was the only option for you then we should definitely add mo

[2017-04-10 11:04] robbieaverill commented on #471
Reproduces in 4.2.3

[2017-04-10 11:06] sminnee commented on #519
OK added you as a collaborator on https://github.com/sminnee/silverstripe-userforms @robbieaverill — go nuts!

[2017-04-10 11:45] robbieaverill commented on #403
Hi @tazzydemon - I'm going to close this since in 4.2.3 the templates are largely in three folders: emails, forms and Includes (with one exception). This seems pretty reasonable to me. Feel free to reopen this issue if you disagree! Thanks for reporting!

[2017-04-10 11:45] #403 closed

[2017-04-10 11:47] robbieaverill commented on #385
Hi @glabit - if you're still having trouble with this I'd recommend you ask a question on [Stackoverflow](stackoverflow.com/questions/tagged/silverstripe), or feel free to reopen this issue. I'm going to close it since it's pretty old now and doesn't seem to describe a bug in the code.

[2017-04-10 11:47] #385 closed

[2017-04-10 11:49] robbieaverill commented on #377
Hi @intotheweb101 - do you still see merit in this getting merged? I assume the merge request for this is #394? If so would you mind updating the PR and adding some notes to it to explain the context and steps to reproduce? Thanks!

[2017-04-10 11:50] robbieaverill commented on #365
Hey @madmatt - do you still see this as an issue on the latest version (4.2.3) of userforms?

[2017-04-10 12:09] robbieaverill opened #569 "Code coverage improvements: codecov and single coverage build in Travis"
We don't need more than one build run that include code coverage, and it would be nice to use codecov.io instead of Scrutinizer for this.

[2017-04-10 20:16] tractorcow commented on #522
This issue was fixed in https://github.com/silverstripe/silverstripe-userforms/pull/558 anyway. :)

[2017-04-10 20:57] robbieaverill commented on #563
This may _relate_ to #556 and the fix at #560

[2017-04-11 00:47] robbyahn commented on #548
In my SS framework version is 3.4.0, noted that there are few changes for validate() function.
so I am assuming that the cause is from between SS framework 3.4.0 and useforms module 4.2.0 version.

SS framework : 3.4.0
Userforms : 4.2.0.

I am assuming that something happened in framework. haven't been investigated yet.

[2017-04-13 03:01] robbieaverill commented on #493
@tractorcow we're going to be looking at this as part of a CWP co-funded item.

Our plan is to implement the same kind of dropdown that exists already on "email recipients" display rules, i.e. "show if all rules are met" or "show if any rule is met".

We'll update the way the javascript is processed as well.

Do you have anything we should keep in mind while doing this?

[2017-04-17 23:13] tractorcow commented on #493
We should keep in mind that users may want some kind of grouping. E.g. `(list of conditions separated by or) and (list of conditions separated by or)`, or vice versa.

[2017-04-18 00:40] leighelse opened #573 "Integrating taxonomies"
We're using silverstripe-userforms and [silverstripe-taxonomy](http://travis-ci.org/silverstripe-labs/silverstripe-taxonomy) and we'd like to integrate the two.

Specifically, we'd like content editors to be able to select an existing taxonomy rather than manually entering options for option set fields (dropdowns, checkbox and radio button lists). We have two business requirements:

1. We want int

[2017-04-19 02:36] tractorcow commented on #493
Given the scope of the internally funded request, we will only implement the "or" / "and" toggle at this point. The ability to implement nested groups can be a future iteration.

[2017-04-23 22:40] robbieaverill commented on #489
@tractorcow is this still an issue in 3.x? #494 suggests it was fixed in 3.4.1. If so shall we close this issue?

[2017-04-23 22:46] robbieaverill opened #577 "Add ability to define placeholder text for user defined form fields"
As from #380 and #381 it would be useful to allow user defined form fields to have placeholder text. This should be implemented in the base `EditableFormField` class so all fields can enjoy it.

Ideally implemented as a "minor" semver change, so can be targetted at the `4` branch.

[2017-04-24 03:00] robbieaverill opened #578 "If "ShowOnLoad" is false, hide the field with CSS rather than Javascript"
This would prevent a slight flicker when loading the page before the JS has been loaded and run, which then hides a field that has `ShowOnLoad` set to false.

[2017-04-24 03:34] sachajudd opened #579 "Remove empty column in display logic GridField for form field"
Can be found in EditableFormField.php where it's added as a display field, but nothing is rendered as it's a HiddenField.

![cms](https://cloud.githubusercontent.com/assets/24258161/25321308/8fff6d90-2901-11e7-8fba-2c3965074a90.png)

[2017-04-24 12:37] 3Dgoo commented on #577
Looks like a placeholder variable was previously added to `EditableTextField`:
https://github.com/silverstripe/silverstripe-userforms/commit/fc16557b1d5d73ea55981a126dc51f93a2f455f6

Do we want to move that variable to `EditableFormField`?

[2017-04-24 12:38] robbieaverill commented on #577
@3Dgoo yeah if you're keen! Make a PR against the `1` branch - thanks!

[2017-04-24 12:49] 3Dgoo commented on #577
This also seems to be in the Numeric and Email fields:
https://github.com/silverstripe/silverstripe-userforms/pull/318
https://github.com/silverstripe/silverstripe-userforms/pull/408

[2017-04-24 12:50] 3Dgoo commented on #577
I'm happy to make this change. Would you like this change against the `master` branch?

[2017-04-24 12:51] robbieaverill commented on #577
Hmmm... what other fields would actually be able to use it? Perhaps this should just be closed as already having been done?

[2017-04-24 12:59] 3Dgoo commented on #577
`EditableDateField` is the only field that I can see in there that can use placeholder but that doesn't have the placeholder field.

[2017-04-24 13:02] robbieaverill commented on #577
I think it's ok for fields that don't use it to inherit it anyway, just not implement it in the template. Simplicity over duplication/complexity... happy for this to be a minor change so `1` branch. Thoughts @3dgoo?

[2017-04-24 13:05] robbieaverill commented on #577
Ok so fields that don't need it shouldn't have the CMS field for it- perhaps put it in the base class (instead of duplicating it) and have a class property or config for "has placeholder"

I'm happy for this to be a minor change, so `1` branch - thoughts @3dgoo?

[2017-04-24 14:10] rannal-trainor opened #580 ""Send email to" dropdown option only shows "Dropdown Field" form field types"
Trying to setup a recipient email for the person who submitted the form (Thank you email, for example). The form has Email Fields.

The dropdown of form fields to choose from (.. or select a field to use as the to address) only shows "Dropdown Field" types from the form. "Email Field" types are not shown.

Running SS 3.5.3 and Userforms 4.2.3.

[2017-04-25 21:23] robbieaverill commented on #580
Hey @rannal-trainor - thanks for logging this issue.

You'll see in `UserDefinedForm_EmailRecipient` that the Email fields are only included in the "Send email to" dropdown if you set the `allow_unbound_recipient_fields` configuration property to true (default false):

[code]

[2017-04-25 21:26] #580 closed

[2017-04-26 05:24] 3Dgoo opened #582 "Hide field labels with CSS instead of JavaScript"
If `HideFieldLabels` is  set to `true` on a form, hide the fields with CSS rather than JavaScript and add the placeholder through the `EditableFormField` class with the placeholder attribute.

[2017-04-26 21:19] robbieaverill commented on #582
Relates to #578

[2017-04-26 21:41] 3Dgoo commented on #582
@robbieaverill I'm happy to tackle both issues one at time if you like. Should I do these against the `4` branch?

[2017-04-26 21:51] robbieaverill commented on #582
Thanks @3Dgoo - if you're keen that'd be cool. I think there are patch fixes, so you could target the latest minor version branch, e.g. `4.2` and it'll get merged up to the next minor release (4.3)

[2017-04-26 23:13] tractorcow commented on #489
ok, fixed with https://github.com/silverstripe/silverstripe-userforms/issues/494

[2017-04-26 23:13] #489 closed

[2017-04-28 09:12] robbieaverill commented on #577
Fixed in #581

[2017-04-28 09:12] #577 closed

[2017-04-28 09:17] 3Dgoo commented on #582
I'm working on this issue now.

[2017-04-28 09:48] 3Dgoo commented on #582
Is it possible to make this change against the `4` branch instead of `4.2`? This change could make good use of the new `has_placeholder` from the #581 changes.

[2017-04-28 11:35] robbieaverill commented on #582
@3Dgoo do as you see fit. I think this issue on its own could be a patch change, so target 4.2, but equally it's minor so if you feel it might be better placed in the next minor release (targeting `4` branch) then go for it!

[2017-04-28 13:03] 3Dgoo commented on #578
Which branch do you think these changes should go against? Comparing the `4.2` and `4` branch it looks like there are a few differences in the `ShowOnLoad` JavaScript.

[2017-04-28 19:51] robbieaverill commented on #578
Whichever is easier for you @3dgoo. The 4.2 branch would be fine but yeah, it has changed up a bit in 4

[2017-04-30 23:49] robbieaverill commented on #582
Closing - we will remove the field labels instead, but for the next major version of userforms

[2017-04-30 23:49] #582 closed

[2017-05-01 00:03] 3Dgoo opened #584 "Remove HideFieldLabels functionality"
Remove `HideFieldLabels` functionality  in favour of showing the developer how to add this optional functionality in through extensions. As discussed in #583

This is related to this issue #582

[2017-05-01 00:05] robbieaverill commented on #584
We can remove the placeholder polyfill library here too

[2017-05-01 00:08] 3Dgoo commented on #584
Where do we want to add the documentation example showing how this functionality can be achieved? Do we want to create a new documentation page for `Adding hide field labels functionality`? Or a more generic documentation page?

[2017-05-01 04:17] scttw commented on #529
I have encountered this issue on a 4.2.3 install recently, and in trying to slve it I noticed this fix. However it doesn't seem to have made its way into a release yet.  It seems this patch hasn't made it into the 4 branch releases.  Can this be merged into 4.2.x please?

[2017-05-01 05:47] #544 closed

[2017-05-01 05:53] tractorcow commented on #529
I've back-ported this bugfix to the 4.2 branch and merged all the way up to master. The next release we make will include this fix.

[2017-05-05 05:05] jopaul-10 commented on #493
Hey all, what about ensuring unique ids on the forms and their elements so that we can have more than one form per page?

[2017-05-05 05:08] robbieaverill commented on #24
Closing as a duplicate of #493, this part is fixed under #575

[2017-05-05 05:08] #24 closed

[2017-05-05 05:09] robbieaverill commented on #493
Hey @jopaul-10 - you'll find that issue logged separately as #543. It should be fixed/available in the next userforms release.

[2017-05-05 09:14] tractorcow commented on #493
Fixed with https://github.com/silverstripe/silverstripe-userforms/issues/575

[2017-05-05 09:14] #493 closed

[2017-05-07 21:50] robbieaverill commented on #578
Fixed in #585 (thanks @3Dgoo!)

[2017-05-07 21:50] #578 closed

[2017-05-07 21:54] 3Dgoo commented on #584
I'm working on these changes right now.

I'm thinking of putting the documentation example in a `hide-field-labels.md` file in the following location:
https://github.com/silverstripe/silverstripe-userforms/tree/master/docs/en/userguide

[2017-05-07 21:55] robbieaverill commented on #584
Hey @3Dgoo - thanks! The user guide docs are for CMS users rather than developers, maybe just in https://github.com/silverstripe/silverstripe-userforms/tree/master/docs/en somewhere? You could add a new folder for "examples" or something like that maybe

[2017-05-07 21:57] 3Dgoo commented on #584
Sure thing. `examples` or `recipes` maybe?

[2017-05-07 22:01] robbieaverill commented on #584
Examples seems good. Recipes has its own meaning for SilverStripe (and CWP) module combinations so best to avoid using that.

[2017-05-08 01:55] 3Dgoo commented on #584
I'm thinking of committing this code in two separate pull requests:

1. Code changes
2. Adding example documentation

The code changes are very simple. It's just removing existing code.
The documentation might have a bit of back and forth getting things right so that everyone is happy with the example code in there.

I don't think the example documentation changes should hold up the code changes.

[2017-05-08 05:45] robbieaverill commented on #584
@3Dgoo that's fine - however you think is best is fine with me.

[2017-05-08 11:17] tractorcow commented on #584
Fixed with https://github.com/silverstripe/silverstripe-userforms/pull/586

[2017-05-08 11:23] 3Dgoo commented on #584
Thanks @tractorcow.

Can we keep this issue open to keep track of the need for me to add the documentation replacement?

[2017-05-08 11:29] robbieaverill commented on #584
Reopened @3Dgoo. If you change your mind or anything feel free to close again :-D

[2017-05-10 23:13] 3Dgoo commented on #579
This is caused by having the a hidden `ParentID` as one of the GridField` columns:
https://github.com/silverstripe/silverstripe-userforms/blob/4.3/code/model/editableformfields/EditableFormField.php#L280-L282

From my testing I think we can just remove this code. If this field is required for something we could just hide this column in the CMS with a little CSS.

[2017-05-11 23:16] michalkleiner opened #587 "Adding a new field removes options from all previously configured radio groups, checkbox groups and dropdown fields"
It seems like moving a radio group or a checkbox group with options previously added disconnects the options somehow.

I'll do further testing to provide a minimal replicable scenario.

[2017-05-11 23:19] robbieaverill commented on #587
Hey @michalkleiner - thanks, yes please. Can you also share your CMS and userforms versions?

[2017-05-11 23:20] michalkleiner commented on #587
Versions - latest CWP recipe - Userforms 4.2.2 and CMS 3.5.3.

[2017-05-12 03:57] fspringveldt opened #588 "Userforms email recipients custom rules filter conditions missing"
The list of available filter rules from the dropdown when adding custom rules to email recipients should match those available when adding a custom Display Rule. Currently there are only 4 showing (IsBlank,IsNotBlank,Equals,NotEquals) whereas on DisplayRules there are 8 showing.

[2017-05-14 22:51] michalkleiner commented on #587
So it turns out it's not a reordering issue, it's actually adding a new field and saving the form.
http://recordit.co/jpdCYiaMbT

[2017-05-14 22:52] michalkleiner commented on #587
Updated the issue title accordingly.

[2017-05-14 22:58] michalkleiner commented on #587
With multiple fields - http://recordit.co/FMPuo5STLu

[2017-05-15 09:11] tractorcow commented on #587
4.2.3 and 4.3.0 include this fix https://github.com/silverstripe/silverstripe-userforms/pull/558

Can you please confirm that upgrading to one of these tags resolves the issue?

[2017-05-15 09:14] tractorcow commented on #588
Fixed with https://github.com/silverstripe/silverstripe-userforms/pull/589

[2017-05-15 09:14] #588 closed

[2017-05-15 22:21] michalkleiner commented on #587
Hi @tractorcow,
yes, I can confirm 4.2.3 is working fine.

[2017-05-15 22:34] robbieaverill commented on #587
Fixed in 4.2.3 and 4.3.0

[2017-05-15 22:34] #587 closed

[2017-05-16 15:06] derRobert opened #591 "SendEmailToField cannot be chosen"
I think there is a logical bug:

UserDefinedForm_EmailRecipient.php

[code]
I think it has to be:
`$validEmailToFields = ArrayList::create($validEmailFromFields->toArray());`

[2017-05-16 15:45] dhensby commented on #591
Hmm - so the default behaviour shouldn't allow the selection of user submitted email addresses - is that not working? What affect would your suggested change have?

[2017-05-16 20:33] robbieaverill commented on #591
The idea is that a user might have a radio group of options for which department to send an email to, for example. It's designed by default to not allow you to send emails to arbitrary email addresses unless you configure it to allow this.

[2017-05-16 20:34] robbieaverill commented on #591
Related: #580

[2017-05-16 20:43] BrewCurious opened #592 "Display Rules' visibility not working correctly after 4.3.0 update?"
CMS/Framework v3.4.5
UserForms v4.3.0
I have created a very basic form to test a problem that I've seen on a couple of my live sites since the 4.3.0 update. It has a drop-down "Visibility Toggle" with values "Hidden" (default) and "Visible" and an HTML Block with text that is to be hidden by default and toggled each time the "Visibility Toggle" dropdown is changed. The resulting form shows the HTM

[2017-05-16 21:54] robbieaverill commented on #592
Hey @BrewCurious - thanks for reporting this.

In your second to last screenshot you have conflicting rules - i.e. "toggle visibility when the toggle equals 'Visible' OR when the toggle does not equal 'Visible'".

Despite that, if I set initially hidden and toggle when the toggle doesn't equal "Hidden" (same as does equal "Display" in this context), the field is still visible on first load - this

[2017-05-16 21:57] tractorcow commented on #591
Not a bug, working is intended.

`multiOptionFields` could be a dropdown with pre-defined email addresses. These fields, due to being multi-select, cannot have arbitrary email addresses added to them, meaning they are "safe"

If you set `allow_unbound_recipient_fields` to true, this allows you to use free-text "unsafe" `<input type="email" >` field.

[2017-05-16 21:57] #591 closed

[2017-05-16 22:05] BrewCurious commented on #592
@robbieaverill The new display rules' verbiage is a little confusing. Before there was a clear visibility action assigned to each possible rule's comparison. (If [this] equals [that] show. If [this] doesn't equal [that] hide.) Now there is implicit hide/show logic that reads "Toggle visibility when [Any conditions are true]". I take that to mean that there needs to be a rule added for both "When v

[2017-05-16 22:08] tractorcow commented on #592
Is a sufficient fix to change the label to "Show field when:" instead of "Toggle visibility when:"?

[2017-05-16 22:08] robbieaverill commented on #592
It could be "hide field when" too

[2017-05-16 22:12] BrewCurious commented on #592
With the implicit "toggle" rules vs. explicitly attaching a visibility action to each comparison, does the functionality of the display rules allow a field to show up when either of 2 values within a drop-down menu of 3+ options are chosen, but hidden otherwise?

[2017-05-16 22:15] robbieaverill commented on #592
@BrewCurious the rules are all linear, in that you cannot choose compound conditions.

You could say "show this field if the value of A is X or the value of A is Y", but you currently can't added an "AND" rule to this as well.

FYI I've had a little look and this looks like an issue with `EditableLiteralField` not using a template, not calling `EditableFormField::doUpdateFormField` and not factori

[2017-05-17 22:54] robbieaverill commented on #592
@BrewCurious would you mind trying out the patch at #594 to see if it solves this problem for you?

[2017-05-18 01:15] camexapps opened #595 "MaxFileSizeMB settings for file uploads"
Hey there,

So, after having some issues regarding a File Upload error.

In regards to this pull: #501

Let say, we set the MaxFileSizeMB to 10..

We would expect 10MB limit (well just over 10MB if being specific...)

Currently, the UploadFields types are referenced as **bytes**, not kilobytes, so for example, where MaxFileSizeMB is referenced, the results are wrong. For example:

`
if ($this->Max

[2017-05-18 01:55] tractorcow commented on #595
Yikes, I missed that in my review. Good spotting and apologies for this.

[2017-05-22 01:16] scttw commented on #592
Are you using Bootstrap @BrewCurious - the 4.3 update adds a .hide class to the toggle-able fields, and .hide in Bootstrap is "hide always forever no exceptions".  I found removing the .hide makes the fields work as expected.  There's still an issue with the literalfields not toggling

[2017-05-22 01:31] scttw opened #596 "4.3. Use of .hide to control Display Rules conflicts with Bootstrap"
In 4.3 fields with display rules or initially hidden state have a class of ".hide" applied.  This class is not toggled on and off when the visibility changes (controlled by an inline display: none/block).

Bootstrap uses the .hide class with the CSS "display: none !important" which has precedence over the inline display: block.  Many other frameworks use .hide in a similar way.

http://getbootstra

[2017-05-22 01:33] robbieaverill commented on #596
Good suggestion @scttw - would you be willing to submit a patch for this?

[2017-05-22 03:27] robbieaverill commented on #592
@BrewCurious following those steps myself on 4.3.x-dev I can't reproduce your issue. The HTML block is initially hidden and is shown when I change my dropdown value to "visible".

For what it's worth I'm running this on a vanilla SilverStripe 3.5 installation using the simple theme. If you're using Bootstrap as @scttw has asked, that could be causing conflicts. Sounds like using `.hide` in itself

[2017-05-22 03:29] robbieaverill commented on #592
Ok yes I see the problem - the `hide` class isn't actually being used, but rather the CSS `display: block` is toggled instead. In this case we should remove the hide class instead of toggling this. I'll push a fix for this shortly.

[2017-05-22 05:02] scttw commented on #596
I'll see if I can work out what's involved :)

[2017-05-22 05:03] robbieaverill commented on #596
Sorry @scttw - this is fixed in #597

[2017-05-23 01:21] robbieaverill commented on #592
Fixed in #597

[2017-05-23 01:21] #592 closed

[2017-05-23 01:22] #596 closed

[2017-05-24 21:33] robbieaverill commented on #595
Fixed in #600 - available in 4.3.1

[2017-05-24 21:33] #595 closed

[2017-05-25 17:21] esstonia opened #601 "How to add SS 3.x defer or acync for Userforms required js"
Is there a way to defer or async the userforms js files

[2017-05-26 00:25] dhensby commented on #601
Hi, thanks for taking the time to post to our issue tracker.

The issue tracker is reserved for reporting bugs and we don't provide support via the issue tracker. There are great [community support options](http://www.silverstripe.org/community/#introduction) where you can get help including [Stack Overflow (remember to tag as silverstripe)](http://stackoverflow.com/questions/tagged/silverstripe),

[2017-05-26 00:25] #601 closed

[2017-05-26 03:40] robbieaverill commented on #579
Fixed in 4.3.1

[2017-05-26 03:40] #579 closed

[2017-05-29 01:22] zanderwar opened #602 "getFormattedValue is showing in Export rather than getExportValue"
Submissions with file fields are exporting with the `SubmittedFileField::getFormattedValue()` in the contents, rather than the `SubmittedFileField::getExportValue()`

Which is leading to the output:

The export value appears to not care for the full absolute path to the file as well, just the relative path, which wouldn't be useful to the majority who need to export submissions to CSV

Using versi

[2017-05-30 02:31] wakes commented on #547
Hi guys, I've just pulled down 4.2.3 and this doesn't seem to be in there yet, is it possible to get into a 4.2.4 as going to 4.3 right now would be too big a jump? I see #587 is there though so that is great thank you.

[2017-05-30 20:57] wakes opened #603 "radio button group rules not applying (see #547)"
Hi guys, the fix for #547 didn't seem to make it into 4.2.3 and it definitely fixes an issue we're having. Is it possible to get this into e.g. a 4.2.4 as going to 4.3 is too big a jump for us at the moment.

[2017-05-31 00:39] robbieaverill commented on #603
Hi @wakes - I've just released 4.2.4 which had a couple of bug fixes (including this) that weren't released yet. Can you please pull it in and let us know if your issue is resolved?

[2017-05-31 22:39] wakes commented on #603
Hi Robbie, thanks for quick action on that, it has fixed the issue for us. Cheers, Steve

[2017-05-31 22:39] #603 closed

[2017-05-31 22:40] robbieaverill commented on #603
Fixed in 4.2.4

[2017-05-31 22:40] robbieaverill commented on #547
Fixed in 4.2.4

[2017-06-01 05:03] rosiemck opened #604 "Multi page forms"
Multi-page forms are not working. The first page, i.e., all the fields up to the first page break appear, but subsequent page fields never appear. If you have a required field on a later page (i.e., page 2 or later) then the form won't submit (no error given), but if not then the Submit button works ok (without giving you the opportunity to fill out any fields on page 2 or later, of course). Using

[2017-06-01 05:57] robbieaverill commented on #604
Hi @rosiemck, would upgrading to the latest version (4.3.1) be an option? It might help eliminate some bugs that may have already been fixed.

[2017-06-01 21:07] rosiemck commented on #604
Hi robbieaverill, thanks for you reply. I am using the latest version of userforms (the changelog.md stops at 4.0.1, however). I also updated segmentfield and gridfieldextensions just in case they were affecting it—still no joy. I have attached a screen shot of the input/output to see if I am doing something obviously wrong.
<img width="1251" alt="screen shot 2017-06-02 at 9 03 26 am" src="https:/

[2017-06-02 00:55] wakes opened #605 "Form submits even with missing required fields."
Hi guys,

In userforms/javascript/UserForm.js UserForm.prototype.validationOptions.errorPlacement method (around line 86) we add an error message span, however it doesn't have an ID attribute. Later in the 'success' method we try and get the id from the span and manipulate it. This can cause a javascript fail which aborts further processing, and so allows an invalid form to submit, as well as prev

[2017-06-02 00:56] robbieaverill commented on #605
Hi @wakes, which version are you running?

[2017-06-02 01:10] wakes commented on #605
4.2.4 have also checked master https://github.com/silverstripe/silverstripe-userforms/blob/master/javascript/UserForm.js#84 still same thing, unless fixed elsewhere.

[2017-06-02 01:33] robbieaverill commented on #605
Thanks. Could you try 4.3.1 (latest) and see if this is still an issue there?

[2017-06-02 01:41] wakes commented on #605
@robbieaverill I can't at the moment sorry, we're locked into 4.2.x in middle of UAT, may be able to next week if all goes well. For us a the moment not super critical as I've added fix our side in custom UserForm.js with Requirements::block(<userform-script>) and Requirements::javascript(<custom-script>) so working for us with this fix in, if not fixed can fork & pull request later.

[2017-06-02 01:42] robbieaverill commented on #605
Ok, no problem. Feel free to submit a pull request for your fix if you're keen to do that.

[2017-06-02 07:24] micschk opened #606 "select, checkbox & radio options disappear on update to 4.3.1"
Just updated UserForms from 4.2.2 => 4.3.1, after which all select, radio & checkbox field's options have disappeared. (SS 3.6)

[2017-06-02 07:27] micschk opened #607 "Show/hide rules dont work properly (4.3.1)"
If a field's initial state is set to be hidden, a '.hide' class will be added to both the field as well as the fieldholder. Afterwards, the JS only removes it from the fieldholder, thus the field itself stays hidden.

Quick fix for anyone running into this, is to un-hide the field itself and let show/hide depend on the visibility of the fieldholder instead, using this CSS:

.userform .userformsste

[2017-06-02 08:11] micschk opened #608 "Preview of e-mail does not work anymore (4.3.1)"
Clicking the preview button underneeth an email results in error: 'I can't handle sub-URLs on this handler.'

[2017-06-02 19:21] BrewCurious commented on #607
Confirming @micschk 's assessment. SS Framework v3.4.6, UserForms v4.3.1. Form input elements do not get displayed properly via current visibility toggle mechanism.

[2017-06-05 22:22] robbieaverill commented on #607
@micschk @BrewCurious I can reproduce this - appears to be caused by having Bootstrap involved, which has its own definition of "hide" for CSS. Are you using Bootstrap in these scenarios? Also would you mind testing if the fix at #609 resolves this for you?

[2017-06-05 22:39] robbieaverill commented on #606
Hi @micschk - can you please confirm what you mean by "have disappeared"? Do you mean from the frontend of your website, or from the CMS? Are you using any display rules in conjunction?

[2017-06-05 23:00] camfindlay commented on #607
+1 I'm having the same issue and I'm not using bootstrap. Manually removing the .hide in inspector displays fields correctly.

[2017-06-05 23:05] camfindlay commented on #604
+1 I'm finding the same issue in 4.3.1 moving forward in the pages after filling in form doesn't occur.

[2017-06-06 00:17] robbieaverill commented on #607
Fix released in 4.3.2

[2017-06-06 00:17] #607 closed

[2017-06-06 20:57] camfindlay commented on #604
I've had mixed results finding a consistent replication of this issue, will continue to look into it a bit more.

[2017-06-07 05:41] xini opened #610 "EditableMultipleOptionField subclasses not setting default values"
Default values in radio buttons, dropdowns and checkbox sets are not set. All subclasses of EditableMultipleOptionField (EditableCheckboxGroupField, EditableDropdown, EditableRadioField) use the EscapedTitle property of the EditableOption object as value.  This should use the Value property, not the Title property of the option object.
See https://github.com/silverstripe/silverstripe-userforms/blo

[2017-06-07 05:53] xini commented on #610
The Value property originates from https://github.com/silverstripe/silverstripe-userforms/commit/2eb652f264e266a68a814fc15d0802404811a08d, but hasn't been adopted properly.

[2017-06-07 07:09] dhensby commented on #610
Care to write a pull request?

[2017-06-08 10:44] fingermonster commented on #606
I'm seeing this too in 4.3.2 (SS 3.6)

Options have self-deleted from the CMS and the published site.

Option-based fields have been problematic for a few revisions.

Similar behaviour in 4.2.x and SS 3.5.x.
I was seeing options disappear after editing unrelated parts of the form.

Also dropdowns were causing a multi-page form to loop (i.e. press submit on a page with a dropdown, and it looped bac

[2017-06-08 10:46] xini commented on #610
will do.

[2017-06-08 10:56] fingermonster commented on #604
Pages no longer work correctly for me after updating from 4.2.2 to 4.3.2.
Example:

- Page 2 is set to show when a checkbox is selected on Page 1
- Select the triggering checkbox
- Page 2 fields appear below Page 1 fields instead of putting them on a second page with a "next" button

Also the page progress indicator shows steps for all existing page by default, rather than adjusting for the condit

[2017-06-08 11:04] xini commented on #610
see #611

[2017-06-08 21:43] robbieaverill commented on #608
Hi @micschk, can you please provide your framework and CMS version?

I've just tested this on SS 3.5.3 and userforms 4.3.1 and 4.3.2 and cannot reproduce this issue.

[2017-06-08 21:45] robbieaverill commented on #606
Hi @fingermonster @micschk - thanks for your reports. Some more detailed steps to reproduce would be nice here. For example, do you think that this is a data integrity violation caused by upgrading, a display issue in the CMS, a display issue on the frontend of your website, etc?

[2017-06-08 22:08] robbieaverill commented on #610
Proposed fix works on 4.2.x and 4.3.x.

[2017-06-08 22:48] robbieaverill opened #614 "4.2: email recipient's HTML/plain text editor toggle is not working"
SS: 3.5.3, userforms 4.2.4

When I'm editing the content for a recipient email and I toggle the "Send email as plain text? (HTML will be stripped)" checkbox, the HTML editor is not hidden in favour of a plain textarea as [it should](https://github.com/silverstripe/silverstripe-userforms/blob/4.2.4/javascript/Recipient.js#L15-L16).

[2017-06-08 23:14] robbieaverill commented on #516
Feel free to reopen @cmcramer, for now closing as this doesn't appear to be an issue.

[2017-06-08 23:14] #516 closed

[2017-06-08 23:18] robbieaverill commented on #347
This seems like a change that would break semver, so would need to be done in the SS4 compatible 5.x version (if it's still relevant there).

[2017-06-08 23:20] robbieaverill commented on #273
As per #274, this is likely not relevant any longer. Feel free to reopen if you disagree.

[2017-06-08 23:20] #273 closed

[2017-06-08 23:30] robbieaverill commented on #251
Can't reproduce on 4.2.x, closing since it's old - feel free to reopen with more information for reproducing if it's still an issue somewhere :)

[2017-06-08 23:30] #251 closed

[2017-06-08 23:33] robbieaverill commented on #244
Not an issue anymore on 4.2.x or above using comma delimited emails:

Configuration:
![image](https://user-images.githubusercontent.com/5170590/26954920-52fd0220-4d07-11e7-9469-f17ebc111a1d.png)

Re-routed local email:
![image](https://user-images.githubusercontent.com/5170590/26954928-5f4718b8-4d07-11e7-954b-ec990a698cf0.png)

Feel free to reopen if this is still affecting a specific version in t

[2017-06-08 23:36] robbieaverill commented on #197
@sunnysideup @wilr @neilcreagh I know this old, but for reference I've retested this on 4.2.x and above.

If you have a recipient email address defined, it will be used in the success message:

![image](https://user-images.githubusercontent.com/5170590/26955000-c8cad568-4d07-11e7-9bfe-d74d5939d352.png)

If you don't, but have an "Email subject", that is used:

![image](https://user-images.githubus

[2017-06-08 23:36] #197 closed

[2017-06-13 00:56] robbieaverill commented on #610
Fixed in #611, released as 4.2.5 and 4.3.3

[2017-06-13 00:56] #610 closed

[2017-06-13 00:58] xini commented on #610
@robbieaverill Thanks!

[2017-06-14 08:14] mikeyc7m commented on #255
bump

[2017-06-14 08:16] robbieaverill commented on #255
Could we have a framework and userforms version please?

[2017-06-14 08:25] robbieaverill commented on #255
Can you upgrade to more recent versions of userforms? Currently at 4.3.x

[2017-06-14 08:28] mikeyc7m commented on #255
i'll try it tomorrow, not sure what preexisting code/dependencies in my site will break.

[2017-06-15 22:51] robbieaverill commented on #471
Fixed in #567

[2017-06-15 22:51] #471 closed

[2017-06-16 01:50] camfindlay opened #618 "SubmittedBy only returns an ID"
For an end user it is very useful in some situations to be able to determine who filled out a form for example a members only survey.

Current behaviour only displays the ID of the user in the submission.

I'd like to propose that:

The submitted for returns at least the Email and/or Title (Surname, FirstName) of the Member object.
When you export the overall CSV of submissions the Submitter is in

[2017-06-16 01:58] robbieaverill commented on #618
Hey @camfindlay - seems reasonable - would probably be suitable for a 4.4.x release

[2017-06-17 00:42] camfindlay commented on #618
PR created

[2017-06-19 00:23] adrian-stein opened #620 "Exported results do not mirror the filtered datagrid"
If I filter the submisisons using UserFormsGridFieldFilterHeader to only show a subset of the results, then go to export the results it will export all data from all pages of the gridfield before the filter is applied, and not just the submissions returned from the filter that are shown on screen. Is there a way when exporting to only export the filtered results? This works fine for datagrids on o

[2017-06-19 00:54] robbieaverill commented on #620
Hi @adrian-stein - could you please provide the version of SilverStripe and userforms that you're using?

[2017-06-19 01:02] adrian-stein commented on #620
I am using version 3.6.0 of SS and 4.3.2 of userforms.

[2017-06-19 05:30] robbieaverill commented on #618
Fixed in #619. Thanks @camfindlay!

[2017-06-19 05:30] #618 closed

[2017-06-19 21:31] cmcramer commented on #606
Me too in Userforms 4.3.2 (SS 3.6)

- In CMS no options added with previous versions of userforms module are visible
- Once a page with a userform is published all options added with previous version of module disappear from public site, even if no changes are made.
- All options have to be added to each field again. Once re-added all options can be edited and page published without losing options

[2017-06-20 03:32] robbieaverill commented on #620
Reproduced on 4.2.x. This issue is caused by https://github.com/silverstripe/silverstripe-framework/issues/6886, which will be fixed in the next 3.5.x and 3.6.x framework releases. We can fix this in userforms in a way that will work regardless of this fix. Will submit a patch shortly.

[2017-06-21 01:32] adrian-stein commented on #620
Nice. Any idea when you will be pushing the fix out?

[2017-06-21 02:24] robbieaverill commented on #608
Ok, this is reproducible in SS 3.6.0. There was a change to how page edit forms are routed in the CMS which now requires a page ID in the route.

[2017-06-21 04:00] robbieaverill commented on #602
Care to make a pull request @zanderwar ?

[2017-06-21 04:05] robbieaverill commented on #563
Fixed in #612

[2017-06-21 04:05] #563 closed

[2017-06-21 20:10] micschk commented on #607
Great that this got fixed, sorry for not responding (somehow I seem to not receive Github updates).

[2017-06-21 20:11] micschk commented on #606
Sorry for not responding (somehow I seem to have stopped receiving Github updates).

My case is identical to what's described by @cmcramer

[2017-06-23 00:42] RuthAdele commented on #256
Any progress on this?

[2017-06-26 02:41] robbieaverill commented on #620
@adrian-stein as soon as #621 is merged in we can tag a new release.

[2017-06-26 03:04] robbieaverill commented on #608
Fixed in #623

[2017-06-26 03:04] #608 closed

[2017-06-26 06:17] #556 closed

[2017-06-26 06:19] robbieaverill commented on #620
@adrian-stein fixed in 4.2.6 and 4.3.4

[2017-06-26 06:19] #620 closed

[2017-06-26 06:26] adrian-stein commented on #620
Thanks heaps!

[2017-06-26 07:07] adrian-stein commented on #620
I just updated to 4.3.4 and it still does the same thing. I filter the results but l exports all records and not just the 1 record shown in the results.

[![Capture.png](https://s8.postimg.org/u6rw6tfqt/Capture.png)](https://postimg.org/image/ovczm3to1/)

[2017-06-26 21:22] robbieaverill commented on #620
Hey @adrian-stein, I can't reproduce this on 4.3.4 any longer. Can you provide your framework/CMS version please?

[2017-06-26 21:40] robbieaverill commented on #614
Fixed in #612

[2017-06-26 21:40] #614 closed

[2017-06-26 22:21] robbieaverill commented on #213
Cannot reproduce on 4.3.1 - HTML is encoded. @mediaclinic if this still affects you, feel free to reopen and provide your userforms version, etc :)

[2017-06-26 22:21] #213 closed

[2017-06-26 22:27] robbieaverill commented on #212
Yes, the result of `$this->dbObject('Value')` is already XML encoded so we don't need to do it again. It'd be a security risk to avoid this encoding, so I'll submit a patch to remove the double encoding.

[2017-06-26 22:59] robbieaverill commented on #605
@wakes can you please provide a more specific example for how to reproduce this issue? It sounds like you're modifying the userforms Javascript directly to cause this problem?

[2017-06-26 23:25] adrian-stein commented on #620
I am using version 3.6.0 of SS and 4.3.4 of forms.

[2017-06-26 23:40] robbieaverill commented on #620
Would you mind providing the result of `composer show silverstripe/framework` and `composer show silverstripe/userforms`?

[2017-06-26 23:46] robbieaverill commented on #620
@sachajudd would you mind trying to reproduce this on SS 3.6.0 and userforms 4.3.4 please?

[2017-06-26 23:56] robbieaverill commented on #357
Fixed in #409

[2017-06-26 23:56] #357 closed

[2017-06-27 00:10] fspringveldt opened #628 "Submissions GridField export/print buttons shows HTML if a file is uploaded"
![image](https://user-images.githubusercontent.com/10938392/27565254-47c4bc44-5b31-11e7-82e8-2968679103dd.png)

Instead it should only show the link to the asset uploaded as below
![image](https://user-images.githubusercontent.com/10938392/27565291-83997c28-5b31-11e7-82e9-a76540fecb9b.png)

Confirmed in v4.3

[2017-06-27 00:14] robbieaverill commented on #606
We're having trouble reproducing this - it seems to be a little sporadic

[2017-06-27 10:14] dhensby commented on #256
@RuthAdele I don't think this problem affects enough people that the core team have taken on responsibility for making the changes. There are solutions outlined in the thread that can be implemented in your own project if you need resolution now, or a pull request would be accepted if it's something you'd like to resolve.

[2017-06-27 16:07] cmcramer commented on #606
Yes. It seems to depend in what version of Userforms the fields were originally set up. Forms that were created recently didn't lose data when re-published after the upgrade. However, had I not had live and dev installs to cross check against it would have been difficult to recreate the forms. All data for multi-select; select, radio, checkbox, was lost when forms created in an older version were

[2017-06-28 23:59] 3Dgoo commented on #256
I'm happy to try to develop these changes for a pull request if you like. I just need a little guidance on what we would like to do.

Do we want it so you can add an `$OnCompleteMessage`  variable to the `Content` field and if that variable is present we display the content field content for the success message? And if that varaible is not present we display the success message as we currently do

[2017-06-30 05:04] adrian-stein commented on #620
@sachajudd What did you find?

[2017-06-30 15:42] dhensby commented on #256
@kinglozzer provided a recommendation of replacing the form instead of the content

[2017-06-30 15:47] kinglozzer commented on #256
Did I? :flushed:

[2017-06-30 15:50] dhensby commented on #256
right here bro: https://github.com/silverstripe/silverstripe-userforms/issues/256#issuecomment-146473357

[2017-07-02 08:46] camfindlay commented on #618
@robbieaverill what is ETA on a tagged 4.4.x stable?

[2017-07-02 08:47] robbieaverill commented on #618
@camfindlay T minus 12 hours and 13 minutes

[2017-07-02 08:48] camfindlay commented on #618
🍔

[2017-07-02 22:04] sachajudd commented on #620
Hi @adrian-stein, I also can not reproduce this on userforms 4.3.4. Would you be able to provide any extra information to help to reproduce what you're seeing?

[2017-07-03 02:52] 3Dgoo commented on #256
I'm confused. That comment wasn't by Loz. And I don't understand the suggestion in that comment.

[2017-07-03 09:09] camfindlay commented on #410
Same issue described here - https://github.com/silverstripe/silverstripe-spamprotection/issues/47
I think this is mostly related to the implementation in spamprotection module rather than userforms so perhaps we can close this here.

Having a crack at fixing this at the moment - PR Soon.

[2017-07-03 09:46] dhensby commented on #410
@camfindlay happy for you to close one of the issues on whichever module makes sense (keep it open on the one that would take the PR)

[2017-07-03 10:09] dhensby commented on #256
bah - I need more coffee - dno why I thought loz was involved.

The suggestion is to overide the `$Form` template var with the success method *if* the content area doesn't contain the `$UserDefinedForm` placeholder, otherwise, I suppose, you just replace the placeholder (if that's even possible at this point).

[2017-07-04 02:47] danaenz commented on #548
I'm getting this issue as well with SS framework 3.3.4 and Userforms 4.4.x-dev.

Issue is where the sourceArray comes back as a numeric array and not an associative, so framework's array_intersect_key in CheckboxSetField is incompatible.

[2017-07-04 21:44] siteleas opened #631 "When using userforms textarea not available"
When using the userforms interface, I drop down the list of available fields but text area is not an option. Text is but not text area. How do I resolve this problem so that a multi-line input field is available for forms?

[2017-07-04 21:45] robbieaverill commented on #631
Hey @siteleas - you can choose a text field and give it more than one line in the field's settings to make it a textarea

[2017-07-04 21:49] siteleas commented on #631
I tried changing the rows to 4 and even though I saved the field and saved and published the form the field still appears as a single line text field instead of a text area

[2017-07-04 21:50] robbieaverill commented on #631
@siteleas OK - sorry for the premature close! Could you please provide your SilverStripe framework/CMS versions and the userforms version you're running?

[2017-07-04 21:57] siteleas commented on #631
What file do I look in to determine what userforms version I am using?
I am using silverstripe version 3.6.1

[2017-07-04 21:58] robbieaverill commented on #631
Ah, you can run `composer show` from your project root directory to get a list of your installed packages

[2017-07-04 22:13] siteleas commented on #631
This is what mine displays:
composer/installers          v1.3.0  A multi-framework Composer library installer
phpunit/php-code-coverage    1.2.18  Library that provides collection, processing, and rendering functionality for PHP c...
phpunit/php-file-iterator    1.4.2   FilterIterator implementation that filters files based on a list of suffixes.
phpunit/php-text-template    1.2.1   Simple templat

[2017-07-04 22:19] robbieaverill commented on #631
Hmmm... OK - hard to say how best to approach this. My suggestion would be to try removing the userforms folder and installing it again with composer at the latest stable version (currently 4.4.0). See if this fixes your issue. The issue is not reproducible for me on SS 3.6.0 and userforms 4.4.x.

[2017-07-04 22:28] siteleas commented on #631
Okay, I have done that and am running 4.4. Still no change a text field with 4 lines is still outputting text instead of textarea

[2017-07-04 22:31] siteleas commented on #631
I believe that I have resolved the issue. I will let you know shortly.

[2017-07-04 22:58] siteleas commented on #631
It was an I.D.10-T error (ID10T operator - me in this case). I did follow your instructions, but I have a local and remote environment and had the admin CMS interface open for the public site while previewing the private (local) front end. Your instructions did work and helped me resolve my problem. (facepalm)

[2017-07-04 22:59] robbieaverill commented on #631
Glad it's resolved :)

[2017-07-04 22:59] siteleas commented on #631
Thank you for your quick responses and your helpful heart!

[2017-07-04 23:00] #631 closed

[2017-07-05 01:25] adrian-stein commented on #620
Yes It is fixed. I didnt realise I had my own version of UserDefinedFormExtension overdoing what you had fixed. My bad.

[2017-07-05 02:20] robbieaverill commented on #620
Ok, great - thanks for updating the issue @adrian-stein

[2017-07-05 02:26] adrian-stein commented on #620
@robbieaverill  I have a couple of other questions and or issues. Where is the place place to voice them and see what can be done. Create an issue or is there some thread you guys all check and can comment back?

[2017-07-05 02:49] sachajudd commented on #620
@adrian-stein if you have bug reports you can create issues, for general questions you can message the 'cwp', 'SilverStripe Users' community Slack channel. You can also raise questions in stackoverflow https://stackoverflow.com/questions/tagged/silverstripe or in SilverStripe forums 🙂

[2017-07-05 03:07] adrian-stein opened #632 "Show form details when printing/ exporting submission details"
When you print a submission from the details view it just prints all the ItemEditForm - SubmittedFormFields.

Is there a way we can add the actual form details so the printed paper has content. Maybe at the top add the form details and then the submission fields underneath? as per the red arrow in the image? [Capture.png](https://postimg.org/image/sh0o1iqbb/)

I am not sure if this more of a new f

[2017-07-05 03:11] adrian-stein opened #633 "html characters show up in export and print"
When you export or print a form submission with a form that has a text area field (maybe others as well) the html is shown in the export. If the user hits enter or adds an apostrophe the html characters are shown which is not very user friendly. See example of a forms export below.

 "testing<br /> <br /> more text goes here<br /> <br /> <br /> what do I do&#039;s text text"

[2017-07-07 02:03] robbieaverill commented on #410
I'm going to close this one, as hopefully we can resolve this in silverstripe/silverstripe-spamprotection#47 in a way that will work for userforms 3.x and 4.x users

[2017-07-07 02:03] #410 closed

[2017-07-10 08:35] robbieaverill commented on #633
Hey @adrian-stein - I have a feeling that the double encoding has been fixed, but I could easily be wrong. As for displaying the HTML, it's potentially an XSS issue if we were to render arbitrary user HTML in the CMS. I suppose we could sanitise it a little - what do you think?

[2017-07-10 08:36] robbieaverill commented on #632
@adrian-stein would you mind providing an example of what you'd like it to do? I'm a little unsure what you mean :)

[2017-07-10 21:13] hprata opened #634 "Better formatting control on recipient email"
Better formatting control on recipient email
Allow formatting rules based on field type for email template. looping formats by field type rules

**Example**
field type heading field = "<h2 style="background:red;color:white;">$Value</h2>"
field type text field = "<div style="background:red;color:white;"><strong>$Title</span>$Value</div>"

[2017-07-10 21:14] hprata opened #635 "Better formatting control on recipient email"
Better formatting control on recipient email
Allow formatting rules based on field type for email template. looping formats by field type rules

**Example**
[code]

[2017-07-10 21:16] #634 closed

[2017-07-10 21:20] robbieaverill commented on #635
Hey @hprata - with the fix for #563 you should be able to override the template used for email templates, which you can style as necessary in your user code. Is this not sufficient for what you want to achieve?

[2017-07-10 21:33] hprata commented on #635
Maybe I am missing something. Is there a way to have the email template format based on the type of form field in the loop?
I need to have html and CSS style be different based on the field type in the form. Currently all values output the same. It will be more meaningful to the recipient if the email can be formatted to differentiate data groups from forms.

I will use that fix but I do not think

[2017-07-10 21:35] robbieaverill commented on #635
@hprata I suppose you could do some logic in your templates, e.g. `<% if $ClassName == "EditableDropdownField" %>style="background-color: red"<% end_if %>` etc. I'd probably be hesitant to add more complexity to the CMS user interface for things like this as it's already pretty bloated.

[2017-07-11 18:14] hprata commented on #635
Thanks I will give it a go

[2017-07-11 21:28] fspringveldt commented on #602
@zanderwar can you confirm if the fix at #627 resolves your issue?

[2017-07-12 01:59] #635 closed

[2017-07-12 02:26] robbieaverill commented on #564
For reference, this was changed to be extensible in 11f43c27dc56f0e592ad63ea15fab951d5be61bb so you can now override the templates. #639 changes the element for the default template too.

[2017-07-13 03:13] fspringveldt commented on #515
@SilbinaryWolf a potential fix for this was just submitted #614.

[2017-07-14 05:12] adrian-stein commented on #633
Yeah I would think sanitising it would be the best option so it only displays the raw text. What would be the benefit of showing <br/> in the results over stripping it out?

[2017-07-14 11:16] dhensby commented on #632
I think this is more of a feature request than issue. It's also not clear to me exactly what information would be relevant and perhaps is a bit subjective and likely changes depending on what the form is used for.

Happy to accept a PR that provides some extra detail, though.

[2017-07-14 11:16] #632 closed

[2017-07-14 13:23] dhensby commented on #633
Who gets to add the HTML? That's the crux of this. Can it be added by end users or is it automatically added to convert new lines to `<br>`?

If it's not coming from the form submission directly, then we shouldn't encode these chars - if it is, then it should be escaped as it's not safe to trust.

[2017-07-16 06:34] fspringveldt opened #642 "Make SubmittedFormField DataGrid injectable"
Userforms v4.4.0
Framework v3.6
CMS v3.6

The new GridField object created at SubmittedForm::getCMSFields() on line 78 should be injectable.

[2017-07-16 08:25] fspringveldt commented on #642
Fixed with #643

[2017-07-16 08:25] #642 closed

[2017-07-16 22:53] robbieaverill commented on #515
Fixed in #614 - will be in the next minor release (4.5.0)

[2017-07-16 22:53] #515 closed

[2017-07-16 23:03] robbieaverill opened #644 "Checkbox templates are rendered incorrectly"
![image](https://user-images.githubusercontent.com/5170590/28252044-62be23ec-6adf-11e7-95c1-bd6361df7317.png)

The `.field.checkbox` CSS classes are applied to the checkbox holder as well, which applies float left, width and height 13px etc and ends up displaying squashed.

[2017-07-16 23:13] robbieaverill commented on #564
Fixed in #639, will be part of the next minor release 4.5.0

[2017-07-16 23:13] #564 closed

[2017-07-17 00:09] adrian-stein commented on #633
As far as I can tell with not knowing the form code that well its being made by the code. When you hit 'enter' when filling in a textarea field it converts the enter into a `<br>`. It is not the user entering the < b r / > characters into the box. For a user who does not know html seeing random characters in the export and results is not a good thing.

[2017-07-17 03:47] robbieaverill commented on #644
Closing as this is a bug in the simple theme, PR at https://github.com/silverstripe-themes/silverstripe-simple/pull/49

[2017-07-17 03:47] #644 closed

[2017-07-17 12:18] dhensby commented on #633
OK - so it sounds like we shouldn't be rendering that HTML literally because it's not what was submitted by the user, we're adding it so it renders nicely in HTML emails and the CMS.

[2017-07-17 12:24] adrian-stein commented on #633
Yeah. It makes sense to show the return character as a br in html as it reflects the 'enter' that the user performed but in exports and prints it doesnt make sense.

[2017-07-19 13:32] #602 closed

[2017-07-26 21:35] robbieaverill commented on #347
I'm going to close this as we probably can't change this before SS4 compatibility, and this probably won't be a problem with SS4. Feel free to reopen if you disagree!

[2017-07-26 21:35] #347 closed

[2017-07-27 04:34] robbieaverill commented on #365
Closing as this is fairly old/stale now. Feel free to reopen if it's still a problem in recent versions 😃

[2017-07-27 04:34] #365 closed

[2017-07-27 04:38] #61 closed

[2017-07-27 04:38] robbieaverill commented on #61
Closing, feel free to reopen if this is still an issue

[2017-07-27 04:38] robbieaverill commented on #45
Closing, feel free to reopen if this is still an issue

[2017-07-30 22:35] robbieaverill commented on #352
I believe this is fixed now

---

This issue is a little stale now. I'm going to close it. If the initial upload max size is still an issue, feel free to reopen it 😄  Thanks!

[2017-07-30 22:35] #352 closed

[2017-07-30 22:37] #259 closed

[2017-07-30 22:38] robbieaverill commented on #259
Hi @Misagh90 - if you have questions you can raise them on either the SilverStripe forums, Stackoverflow or the community Slack channel. If this is a bug report, please provide enough code to reproduce and the version of userforms and SilverStripe that you're running. Thanks!

[2017-07-31 05:25] robbieaverill commented on #255
Hey @mikeyc7m - I'm going to close this as we don't support userforms 2.0.x any longer. Please try updating to a 4.x release and if your problems persist, feel free to reopen =)

[2017-07-31 05:25] #255 closed

[2017-08-01 21:47] #198 closed

[2017-08-01 21:48] robbieaverill commented on #198
You can add extra CSS classes to form fields already, and if you need to customise more than that (e.g. the labels) you will probably need to override the templates in your own theme. I don't think it's worth adding any more bloat to the (already bloated) CMS interface for this kind of thing. Thanks and good luck!

[2017-08-01 21:53] robbieaverill commented on #185
Fixed in #539 (thanks @torleif)

[2017-08-01 21:53] #185 closed

[2017-08-01 21:58] robbieaverill commented on #422
Do we want to add more fields to the CMS? There are already a lot of them. Does using "right title" not do what you need to do?

[2017-08-01 22:27] robbieaverill commented on #154
I'm going to close this issue due to inactivity, and a rough belief that this issue has been fixed. If it's still affecting you, please feel free to reopen this issue 😃

[2017-08-01 22:27] #154 closed

[2017-08-03 01:46] robbieaverill commented on #143
Hi @Lukin @oceanmountain - I'm going to close this for now as it's been inactive for three years. If you're still experiencing this issue on the latest versions of SilverStripe and userforms, please feel free to reopen! Thanks

[2017-08-03 01:46] #143 closed

[2017-08-03 10:06] madmatt commented on #365
Realistically by this point I suspect most people who are going to upgrade will have upgraded and either have run into this issue and fixed it, or avoided the issue by being good devs and fragmenting their uploaded files into folders by default, so happy to leave it closed tbh.

[2017-08-03 21:36] robbieaverill commented on #134
@jedateach are you interested in continuing this work?

[2017-08-03 22:15] robbieaverill commented on #73
@LiamW @danchat are you still having this problem in more recent versions of SilverStripe and userforms? Feel free to reopen if you are, otherwise I'll assume it's been fixed since 2013.

[2017-08-03 22:15] #73 closed

[2017-08-03 22:17] robbieaverill commented on #67
Going to close this as the docs and API will probably get a revamp with an SS4 upgrade

[2017-08-03 22:17] #67 closed

[2017-08-03 22:22] robbieaverill commented on #66
Fixed in https://github.com/silverstripe/silverstripe-translatable/issues/213

[2017-08-03 22:22] #66 closed

[2017-08-11 03:17] robbieaverill commented on #519
Updated the description to include the required tasks. FYI Creative Commoners are working on this in our current sprint.

[2017-08-13 22:19] jedateach commented on #134
@robbieaverill no, not for me. Cheers.

[2017-08-13 22:21] #134 closed

[2017-08-14 14:13] tony13tv opened #646 "Possible Bug: Using $this when not in object context"
This [line](https://github.com/silverstripe/silverstripe-userforms/blob/12981b38bc94d8cbae74d3dad400123c9fc4c164/code/model/editableformfields/EditableTextField.php#L81) makes php throw ```Using $this when not in object context```. I am not sure if it's related to the fact that I'm using PHP5.3. If this is a bug a possible solution is passing an alias of ```$this``` to the function through ```use

[2017-08-14 20:07] robbieaverill commented on #646
Yes, `$this` is not automatically bound to closure scope until PHP 5.4. Which version of use forms are you using? You can avoid this error by aliasing it as `$self` then 'using' it from the closure. Would you be interested in making a PR for it?

[2017-08-16 02:01] robbieaverill commented on #646
Fix at #648

[2017-08-16 03:01] tony13tv commented on #646
I highly appreciate your rapid response clarifying my uncertainty. I your fix is even more appreciated.

[2017-08-16 03:01] #646 closed

[2017-08-16 04:07] robbieaverill commented on #646
No problem. FYI it will be part of the next 4.4.x release for userforms.

[2017-08-25 10:10] asecondwill commented on #45
This would be very helpful to have.  Just a field in the field's settings - maxlength for textarea fields.

[2017-08-25 10:38] dhensby commented on #45
Adding a max length to a textarea would require some JS. I think this is probably outside of the scope of this module and perhaps someone could create a "length limited text area editable field" which could include https://github.com/jonom/silverstripe-text-target-length

[2017-08-25 10:38] #45 closed

[2017-08-30 03:42] RuthAdele opened #652 "Feature request: Anchor to first server-side error message"
If server side validation fails, anchor to the first error message in the form.
(client request)

[2017-08-30 03:45] robbieaverill commented on #652
Hi @RuthAdele. This could be achieved in a custom implementation of userforms using javascript. I wonder whether it would be desired for the majority of people using userforms? I suppose it could be configurable.

[2017-08-30 05:40] tractorcow commented on #652
Should it anchor to the first error message, or focus the field itself?

[2017-08-30 10:35] dhensby commented on #652
For accessibility purposes there should be a list of all errors above the form and we should anchor to that.

[2017-08-30 10:36] dhensby commented on #652
Hi, thanks for taking the time to post to our issue tracker.

The issue tracker is intended to be used for reporting bugs and not for feature requests or discussions.

If you'd like to request a feature please see our [user voice page](https://silverstripe.uservoice.com) where you can submit your ideas.

If you feel you're capable of solving this problem and submitting a pull request with this fea

[2017-08-30 10:36] #652 closed

[2017-09-05 22:30] fspringveldt opened #653 "SS4 - display rules not hiding on the front-end"
I've set a field to initially hide and show based on a GreatThan value of another field. On the front-end it produces this error (which looks to be i18n related):
![image](https://user-images.githubusercontent.com/10938392/30086226-43bd6566-92ee-11e7-8212-6efe809374e5.png)

[2017-09-05 23:51] robbieaverill commented on #653
There's probably a bug in adding the i18n javascript support to requirements

[2017-09-12 06:33] guyvanbael opened #656 "install fails on ss4 beta3"
when installing using composer i get this error
Installation failed, reverting ./composer.json to its original content.

[2017-09-12 07:49] robbieaverill commented on #656
Hey, could you please provide the full error message?

[2017-09-13 04:12] robbieaverill commented on #656
Hi @guyvanbael, I can't reproduce this. Please ensure you're using `5.0.x-dev` for the userforms constraint, since we haven't released any tags yet (unstable or stable):

[code]

[2017-09-13 04:12] #656 closed

[2017-09-13 04:13] robbieaverill commented on #656
If you omit the constraint, e.g. `composer require silverstripe/userforms` then Composer will try to install the latest stable which is 4.5.x, and you'll get this error. Please use `composer require silverstripe/userforms 5.0.x-dev`

[2017-09-13 05:20] robbieaverill commented on #653
Ok, we need to:

* Import the i18n component from silverstripe-admin in our frontend JS bundle
* Add it to `module.exports` to ensure that the i18n javascript files can use it via `ss.i18n`
* Fix UserForms.js - it's got a bunch of scope binding bugs that are also causing problems on the frontend

I also noticed that by importing i18n in our bundle we also get given a couple of hundred linting fail

[2017-09-13 08:56] guyvanbael commented on #656
Thanx for getting back to me so soon @robbieaverill .
Installing with the specific version number works on my beta3 testproject, but trying to access a userdefinedform page results in this error:

[Emergency] Uncaught Error: Call to undefined method SilverStripe\Forms\GridField\GridFieldEditButton::removeExtraClass()
GET /testss4beta3/admin/pages/edit/show/3

Line 111 in /Users/guy/Documents/webro

[2017-09-13 08:58] robbieaverill commented on #656
Ah yep, that's a method that was added to the framework today. You'll need to use the 4.0.x-dev version of framework too. Also be aware that gridfieldextensions isn't quite complete yet either so there will be some bugs there too

[2017-09-13 21:28] robbieaverill commented on #653
I've logged this on the ss-admin module for now: https://github.com/silverstripe/silverstripe-admin/issues/253

[2017-09-17 17:10] fingermonster commented on #604
Just to update on this - I've tested 4.5.3 (and the latest from 4.5.dev) with a new form built from scratch, and I'm still seeing this issue. Silverstripe 3.6.1.

It's as though all the conditional logic set for displaying the pages is being ignored.

[2017-09-17 17:14] fingermonster opened #658 "Gridfieldextensions Dependencies on 4.2.x"
As there are a few showstopper issues affecting 4.3.x and above, please could the repo dependencies be updated on 4.2.x to use symbiote/silverstripe-gridfieldextensions in place of the abandoned silverstripe-australia repo.

Thanks.

[2017-09-17 21:22] robbieaverill commented on #604
Thanks for the bug report @fingermonster - does the previous comment you posted represent the steps to reproduce for this? If not could you please expand it a little so we can reproduce it?

[2017-09-17 22:09] robbieaverill commented on #658
@fingermonster sure, would you like to make a pull request for it?

[2017-09-17 22:11] tractorcow commented on #658
Would it be better for us to address these issues? Can you give us a few examples?

[2017-09-17 22:14] robbieaverill commented on #658
I think we're referring to #604 and #606 here

[2017-09-17 22:21] fingermonster commented on #604
Steps similar, but the behaviour has changed slightly - the page now display as separate pages, rather than stacking vertically. They just ignore any set conditions.

Steps to reproduce:

1. Create Form Page
2. Add Fields To Page 1 (e.g TextField named Example1 and TextField named Example2)
3. Add Page Break (Page 2 Created)
4. Add Field to Page 2
5. Edit Display Rule for Page 2
6. Set Default Sta

[2017-09-17 22:27] robbieaverill commented on #604
Great, thank you

[2017-09-18 20:45] mak001 opened #659 "Dollar amounts (like $2) fail to show up in values/labels"
When using a dollar sign followed by a number (eg $4) in a value, title, or placeholder the text that is rendered in the template gets cut off. So `Foo $3` becomes `Foo `. Things like `$Title` or `$Bar` work as expected.

Escaping the dollar signs with a backslash (eg \$4) in the breaking situation works, but it also breaks validation for checkbox groups. Adding a single backslash causes checkbox

[2017-09-20 04:57] robbieaverill commented on #519
Blocker: https://github.com/silverstripe/silverstripe-admin/issues/253

[2017-09-22 00:14] robbieaverill commented on #659
Initial investigation finds that by removing`$UserDefinedForm` from your page content and allowing userforms to add it to the end of the content again automatically will render these templates correctly.

[2017-09-22 00:29] robbieaverill commented on #659
The problem looks like it's in this regex: https://github.com/silverstripe/silverstripe-userforms/blob/4.5.3/code/model/UserDefinedForm.php#L414 - I'll push up a patch for it shortly.

[2017-09-22 02:33] robbieaverill commented on #659
@mak001 it's not a perfect solution - I've noted on #663 some cases where the fact that we're using regex to insert the form contents will still cause problems, but it will at least let you use dollar amounts in your form fields.

[2017-09-24 21:23] robbieaverill commented on #584
Hey @3Dgoo, we're going to be tagging a beta version of 5.0.0 for SS4 support soon, do you want to get your docs updates in to close this issue?

[2017-09-25 22:15] #659 closed

[2017-09-25 22:16] #658 closed

[2017-09-25 22:18] wilr commented on #231
This is now fixed.

[2017-09-25 22:18] #231 closed

[2017-09-25 22:29] wilr commented on #327
Fixed in `dev-master`

[2017-09-25 22:29] #327 closed

[2017-09-25 22:31] wilr commented on #21
Works in 2017

[2017-09-25 22:31] #21 closed

[2017-09-25 22:33] wilr commented on #36
Tidy in `dev-master`
<img width="923" alt="screen shot 2017-09-26 at 11 32 30 am" src="https://user-images.githubusercontent.com/101629/30834173-74bb3a56-a2ae-11e7-9a9b-1ef3c20fe538.png">

[2017-09-25 22:33] #36 closed

[2017-09-26 01:12] wilr commented on #205
This uses the browser date picker now.

[2017-09-26 01:12] #205 closed

[2017-09-26 01:14] wilr commented on #422
I think RightTitle is a good enough additional. If users need to add 'Description' easy enough via a `DataExtension`

[2017-09-26 01:14] #422 closed

[2017-09-27 11:43] asecondwill opened #667 "symbiote/silverstripe-multivaluefield / SS 3.6 compatible version of Userforms"
It would be good to have a version where composer can use the Symbiote version of dependencies now they have moved.

[2017-09-27 17:53] robbieaverill commented on #667
We have done this. New releases coming soon. Duplicate issue of a few...

[2017-09-27 17:53] #667 closed

[2017-10-04 09:38] 3Dgoo commented on #584
Hi Robbie,
I would love to, but I am struggling to find any spare time to write up the docs needed for this. If I get some time I'll take care of this.

[2017-10-05 00:45] mikeyc7m opened #670 "missing validation on optionsets"
Since removing the unordered list from optionsets in 4.5.0, the validation fails to display validation messages on radio & checkbox optionsets. I've opened #669 to fix.

[2017-10-05 01:36] mikeyc7m opened #671 "weird checkbox issue - label appears twice"
i'm using display_logic module and the checkbox templates are not being used properly.
* userforms UserformsCheckboxField_holder.ss is not rendered at all
* display_logic CheckboxField_holder.ss adds a &lt;label class=right&gt;
* userforms UserformsCheckboxField.ss adds a &lt;label class=left&gt;
* no right title or messages

Seems all the userforms holder templates are being ignored. I was able t

[2017-10-05 01:51] robbieaverill commented on #671
@mikeyc7m can you provide the versions of userforms and display logic you're using?

If the issue is caused by display logic, I suggest we close this issue and move to that repo.

[2017-10-05 02:03] mikeyc7m commented on #671
I thought about that, but it means any and every module out there that has a fieldholder template will break userforms. It is not specific to display_logic. The solution is to simply move these files:
- UserformsCheckboxField_holder.ss
- UserformsField_holder.ss
- UserformsGroupField_holder.ss
- UserformsLiteralField_holder.ss
- UserformsMultipleOptionField_holder.ss

move them all into ~/template

[2017-10-05 21:33] robbieaverill commented on #670
Fixed in #669 and 4.5.4

Thanks for reporting and contributing the fix!

[2017-10-05 21:33] #670 closed

[2017-10-06 01:07] robbieaverill commented on #671
Ok, I'm not really up with the details of this issue, but moving template file paths probably can't be done without breaking semver in a way, because users may have overridden templates with their current paths

[2017-10-10 20:14] torleif opened #673 "Country dropdown lists default to united states"
Ideally we could set the country that we want as default

[2017-10-10 20:23] robbieaverill commented on #673
@torleif can you provide the SilverStripe and userforms version you're using please?

[2017-10-10 20:23] robbieaverill commented on #673
I think it should default to the locale's country for your SS installation

[2017-10-10 20:47] torleif commented on #673
[code]

I have the locale set to ```i18n::set_locale('en_NZ');```

[2017-10-10 21:00] NightJar commented on #673
Hi @torleif
Are you logged in when testing this userfrom? If so, what is the locale of your user?
c.f. https://github.com/silverstripe/silverstripe-framework/blob/3.4.2/forms/CountryDropdownField.php#L31

[2017-10-10 22:38] kaewdev opened #674 "Dropdown - same values not showing."
Hi,

Branch: silverstripe/userforms - master.

I have a book form with postage select dropdown option pricing as the value. It works fine if I do not have duplicate values. But there are instances where the values are the same. i.e. $0.00.

I have found a quick fix where I just add more zeros if its the same value. i.e. $0.00, $0.000, $0.0000.

This will show all the dropdown options and will stil

[2017-10-10 22:42] robbieaverill commented on #674
This sounds like an issue with how the HTML form inputs will post your data to the controller. Given multiple options with the same value but different labels, the controller only receives the value from the select field - how will you know which option was chosen with multiple values?

Perhaps you could put the price into your option _labels_ and use a unique identifier of some sort for the value

[2017-10-10 23:09] kaewdev commented on #674
Yup, you are right. I'll have to add a custom dropdown field where I can add a custom data-attribute to store the price.

I am looking for it be easy for non-programmers / end admin users to add postage options with prices to the form in the admin.

I'll look into it.

Thanks for your feedback.

Thanks,

Kae

[2017-10-11 01:31] robbieaverill commented on #674
I see. At the moment the dropdown field in userforms is just values and labels. You'd probably need to create your own implementation to support data attributes on the options, as the core DropdownField doesn't support more than key => value pairs either. Good luck!

[2017-10-11 01:31] #674 closed

[2017-10-11 19:47] torleif commented on #673
@NightJar ah, it looks like the locale of the user is overriding the locale. All users are set to en_US, as there is no en_NZ listed in the languages dropdown. When I'm not logged, it does give the value (that I want) of New Zealand.

though ideally there would be use cases where you'd want to set it to another country. userforms seems to explicitly disable the ability to set a default value:

htt

[2017-10-11 20:00] NightJar commented on #673
@torleif that is SilverStripe 4 code, but at your version of `4.4.0` the same thing happens.
This is because it's inherited from `EditableFormField`, which asks for a `Default` as a regular free input `TextField`. Being that a `<select>` element by nature accepts only a pre-defined list of options, this is field works against that.
One could of course always replace the field with a `CountryDropdo

[2017-10-11 20:39] torleif commented on #673
It looks like the default value does not set the country even when enabled. So it will involve more work then just removing one line of code.

Because the locale of the user is the ```Interface Language``` in the CMS they're two different bits of information. The dropdown while logged in is trying to get where the person is by what language the person speaks. Which is obliviously very incorrect be

[2017-10-11 21:34] robbieaverill commented on #653
Update: we can now add the i18n.js library from the silverstripe-admin when we add our i18n files.

The frontend javascript code for this module needs some love, it's a bit confused since partially being updated for ES6 syntax :)

[2017-10-11 21:35] robbieaverill commented on #519
I'm going to close this now - we've got one outstanding issue #653 which blocks a beta release, but we can track the 5.0.0 milestone for progress :)

[2017-10-11 21:35] #519 closed

[2017-10-11 21:35] robbieaverill commented on #584
Cool - I've removed this from the 5.0.0 milestone as it can be added after the stable release without concern for the core functionality.

[2017-10-18 22:43] torleif commented on #673
@robbieaverill IMO user interface. The other fields do it this way

[2017-10-26 20:54] robbieaverill opened #680 "Dist CSS files are broken"
They've been committed in with an exception from webpack

[2017-10-26 21:11] #680 closed

[2017-11-06 08:42] guyvanbael opened #684 "userforms shows full namespace in field dropdown (ss4-rc3)"
<img width="1635" alt="schermafbeelding 2017-11-06 om 09 41 02" src="https://user-images.githubusercontent.com/3098809/32432175-db1437ce-c2d6-11e7-866a-336b8eab1a12.png">

[2017-11-06 08:52] NightJar commented on #684
Hi @guyvanbael can you please also confirm which version/branch of `silverstripe/userforms` you have running with `silverstripe/framework 4.0.0-rc3`?

[2017-11-06 09:02] robbieaverill commented on #684
I believe this was fixed with https://github.com/symbiote/silverstripe-gridfieldextensions/pull/205- can you update to gridfieldextensions 3.0.x-dev and try again?

[2017-11-06 09:04] robbieaverill commented on #653
@be2n we probably need to prioritise this bug to be fixed as it'll prevent us from releasing userforms as stable

[2017-11-06 09:14] guyvanbael commented on #684
i am using silverstripe/userforms master branch. Updating gridfield extentions to 3.0.x-dev fixed it.
Thanks!

[2017-11-06 09:14] #684 closed

[2017-11-19 15:37] xpowert opened #685 "Fatal error: Class 'GridFieldFilterHeader' not found in"
I get This fatal error after installing user forms. I install it with composer. What am i doing wrong ? My version Silverstripe 4
Error ;
 Fatal error: Class 'GridFieldFilterHeader' not found in C:\..\www\...\userforms\code\UserFormsGridFieldFilterHeader.php on line 12

I use it on localhost with WAMP

[2017-11-19 15:44] xpowert commented on #685
I get this error on all my installed mods, so i guess its WAMP and localhost foult

[2017-11-19 20:28] robbieaverill commented on #685
Hi @xpowert. Please use an unstable version of GridFieldExtensions: `composer require symbiote/silverstripe-gridfieldextensions 3.0.x-dev`. We'll tag a new stable release for it later this week.

[2017-11-19 20:28] #685 closed

[2017-11-19 22:07] NightJar opened #686 "form fields' grid field toolbar sits atop too much when in `.sticky-buttons` mode."
For the Field-Editor tab, when scrolling down the list of the form fields in the user defined form, the toolbar to add more fields sticks itself to the top of the panel.
However this is buggy, and while it sits correctly left aligned (not over the CMS main menu or site tree), it extends full width over the preview pane and even the scrollbar.

![capture](https://user-images.githubusercontent.com/7

[2017-11-20 04:36] #653 closed

[2017-11-20 04:38] robbieaverill commented on #686
Note: to reproduce you have to add more fields than the height of the viewport

[2017-11-22 22:53] digitall-it opened #689 "Cannot install on SS 4.0 stable"
As per title, seems like the module is not tagged as compatible with Silverstripe 4.0 stable.

[code]

[2017-11-22 22:54] robbieaverill commented on #689
Hey @digitall-it, yep we have tagged this as beta but not stable yet. Please use either a `^5.0@beta` constraint, or `5.0.x-dev`

[2017-11-22 22:54] #689 closed

[2017-11-27 18:45] #377 closed

[2017-11-27 19:45] dhensby commented on #566
just 1 left on this :)

[2017-11-28 02:20] NightJar opened #690 "Validation error on save & publish"
`5.0.x-dev` at 5b59732

- Create a list of fields, save and publish.
- re-order one of those fields, save and publish.
- Success & _Validation error_ both pop up as toast notifications.

Note the order is still saved.

[2017-11-28 02:25] NightJar opened #691 "Error output template isn't populated correctly"
`5.0.x-dev` @ 5b59732

- Create a text field
- make it _required_
- visit front-end and click submit (without filling in the field)

See: `%s is required`

[2017-11-29 14:12] guyvanbael opened #692 "creating recipient fails"
using branch dev-master. Trying to add a recipient results in internal server error.
<img width="2032" alt="schermafbeelding 2017-11-29 om 15 10 47" src="https://user-images.githubusercontent.com/3098809/33379175-a5303240-d517-11e7-8983-47e92486322e.png">

[2017-11-29 22:57] tractorcow commented on #692
Is this possibly related to https://github.com/tractorcow/silverstripe-fluent/issues/312? Can you please follow the same directions for userforms; Setting the environment to dev and posting the HTTP response will assist us with debugging this issue. Let me know if you need any further help to get that. :)

[2017-11-30 16:01] guyvanbael commented on #692
no, it's not related. I update gridfieldextensions tot 3.0.x-dev in https://github.com/tractorcow/silverstripe-fluent/issues/312 and that helped there. My site is indeed in dev mode according to my .env, but no php errors are displayed

[2017-12-01 07:25] guyvanbael commented on #692
@tractorcow here's some debug information. Hope you 'll get some more information out of it.
Thanx in advance for all the hard work!

![schermafbeelding 2017-12-01 om 08 23 26](https://user-images.githubusercontent.com/3098809/33472131-214633d4-d671-11e7-92b6-4f042bfcaeee.png)

[2017-12-04 09:48] guyvanbael commented on #692
pulling in the pr Update default email_template_directory #677 allows me to add a recipient, but cms keeps saying that my changes are not saved (but the are). Email that's received contains htmtags in plain text.
<img width="477" alt="schermafbeelding 2017-12-04 om 10 29 22" src="https://user-images.githubusercontent.com/3098809/33546203-b370cc3a-d8e0-11e7-8df1-35444105a6b4.png">

[2017-12-04 09:59] guyvanbael commented on #692
the unsaved changes error only appears when editing the htmleditorfield(body) in the recipients tab.

[2017-12-04 11:08] guyvanbael opened #694 "adding custom htmtext to recipients email template sends no data"
When adding text to the template. The form data is not being sent.
Trying to save it triggers the 'are you sure you want to leave this page' alert although the changes are saved

[2017-12-04 11:12] robbieaverill commented on #694
We probably need to disable the change tracker for the checkbox that toggles the content type. You said the value you enter does get saved, but the issue is the confirmation message asking you if you want to leave the page?

[2017-12-04 11:58] guyvanbael commented on #694
Yes, that's correct. And form data is not added to the mail, so it's just sending whatever is in the body htmleditorfield

[2017-12-05 19:58] tractorcow commented on #692
Is this fixed with https://github.com/silverstripe/silverstripe-userforms/pull/677?

[2017-12-05 20:06] robbieaverill commented on #692
Yes it is, but I'll log two new issues for the other points raised here

[2017-12-05 20:06] #692 closed

[2017-12-05 20:07] robbieaverill opened #695 "Emails have escaped HTML in them"
From #692

pulling in the pr Update default email_template_directory #677 allows me to add a recipient, but cms keeps saying that my changes are not saved (but the are). Email that's received contains htmtags in plain text.
<img width="477" alt="schermafbeelding 2017-12-04 om 10 29 22" src="https://user-images.githubusercontent.com/3098809/33546284-e791b8d0-d8e0-11e7-93b2-a9cfff47f9d8.png">

cc @g

[2017-12-05 20:09] robbieaverill opened #696 "In recipient email edit form, toggling HTML/plain text triggers change tracker"
From #692

the unsaved changes error only appears when editing the htmleditorfield(body) in the recipients tab.

---

Switching between HTML and plain text will ask you if you're sure you want to leave the page when saving the data.

cc @guyvanbael

[2017-12-05 21:30] robbieaverill commented on #696
Sorry, duplicate of #694

[2017-12-05 21:30] #696 closed

[2017-12-11 15:11] cstivanson commented on #333
"Please select a value within the list provided. 6 is not a valid option."

is what I get when I try the added module and choose the email option?

[2017-12-11 21:01] tractorcow commented on #333
Are you using https://github.com/micschk/silverstripe-userforms_send-to-emailfield?

I recommend to use the new `allow_unbound_recipient_fields` config instead.

[code]

[2017-12-12 20:15] robbieaverill commented on #244
@martinduparc which SS and userforms versions are you using please?

[2017-12-12 20:28] martinduparc commented on #244
SS 4.0.1 and userforms 5.0.x-dev (dev-master)

[2017-12-18 23:24] phptek commented on #695
Confirmed. But only when no "Body" text is declared in the "Email Content" sub-section.

[2017-12-20 02:35] christopher-s opened #697 "Syntax Error - JavaScript"
See here:
https://github.com/silverstripe/silverstripe-userforms/blob/3e3450614b9088d0dfc03ed41191802588d4c217/client/src/bundles/UserForms.js#L183

Missing a closing single quote within the CSS selector.

[2017-12-20 02:57] robbieaverill commented on #697
True! Would you be keen to make a PR for it?

[2018-01-04 17:08] siteleas opened #698 "I can't handle sub-URLs on class CMSPageEditController."
When in the CMS, I create a userform, I go to the "Recipients" tab. Then I click "Add Email Recipient". After filling in the Email subject, Send email to, Send email from, and Email for reply to fields, I click the "Email Content" tab. Then I click the "Preview email" button. After doing so, I don't get a preview of what the e-mail will look like, rather, a new tab appears with a white background

[2018-01-07 20:30] robbieaverill commented on #698
Hi @siteleas, could you please provide your SilverStripe and userforms versions? You can get these via `composer show`

[2018-01-10 01:37] emmettdn opened #699 "5.0.0: Error when attaching files to recipient email"
The attachFile() method on Email looks to have been deprecated in favour of addAttachments() but is still being used on the UserDefinedFormController to attach uploaded filed to recipient emails.

I have tried just updating the method call but throws a Swift_IoException "Unable to open file for reading".

[2018-01-10 07:09] #697 closed

[2018-01-10 22:29] asecondwill opened #701 "Unable to have two Userforms on a single page"
It would be really helpful if more than one UserForm could be displayed on a page without issues.

When there are two userforms on a page, the JS is confusing them to be two pages of a single form.  The validation is also not being applied to the correct form when the second form's submit button is clicked.

- When using ElementalUserForms elements and including two Form blocks per page
- When Pul

[2018-01-11 22:25] korthjp17 commented on #690
I seem to be getting this validation error when just trying to add a field and save&publish.

[2018-01-15 01:33] zarocknz commented on #606
One of our clients just discovered this in their site, which has been live for about 1.5 years. We updated all modules mid 2017 - SilverStripe CMS and Framework 3.5.3 and userforms module version is 4.2.2 - and as described by others all the dropdown, checkbox options no longer appear in the CMS once the form is re-saved under the new version, but thankfully? (and oddly) all previously added optio

[2018-01-16 15:57] dhensby commented on #701
duplicate of #543

see: #572

[2018-01-16 15:57] #701 closed

[2018-01-18 18:33] robbieaverill commented on #543
This feature is now something that this module should support, so reopening.

[2018-01-23 00:57] #698 closed

[2018-01-24 02:21] robbieaverill commented on #699
Steps to reproduce:

* Create a UDF page
* Add some fields, including a File Upload Field
* Add an email recipient
* Submit the form on the frontend with fields filled out

Observe error:

[code]

[2018-01-24 22:20] tractorcow commented on #699
[code]

[2018-01-24 22:39] robbieaverill commented on #699
Fix at https://github.com/silverstripe/silverstripe-userforms/pull/703

[2018-01-24 22:39] robbieaverill commented on #694
I inadvertently fixed this with https://github.com/silverstripe/silverstripe-userforms/pull/703

[2018-01-24 22:55] #694 closed

[2018-01-24 22:55] #699 closed

[2018-01-25 01:48] robbieaverill commented on #695
Noting: the change tracker isn't firing for me

[2018-01-25 03:49] robbieaverill commented on #695
Fix at https://github.com/silverstripe/silverstripe-userforms/pull/704

[2018-01-25 20:39] #695 closed

[2018-01-26 00:17] NightJar commented on #690
I can no longer reproduce this issue at 9a09873e7d95ca6d448dd72c4acc9af8982f1e75

[2018-01-26 00:17] #690 closed

[2018-01-26 04:18] raissanorth opened #706 "Add new test for comma separated recipients, senders, and reply-tos."
In SilverStripe 3 and 2 the php `mail` function was used by default to send emails. This supports:

However, the `swiftmailer` interface for `setTo` in SilverStripe 4 does not accept address-lists, instead requiring an array of individual addresses to accomodate the same functionality.

This failure in backwards compatibility has eluded detection from unit testing because address lists are not exp

[2018-01-28 20:24] robbieaverill commented on #706
We should cover this in #707

[2018-01-28 20:24] #706 closed

[2018-01-28 20:56] #244 closed

[2018-01-28 20:57] robbieaverill commented on #244
Fixed again for SS4 in #707

[2018-01-29 17:54] phptek opened #708 "Action 'printable' isn't available"
php 7.0.27 / framework 4.0.2 / userforms 5.0.0-beta1

## Problem

[code]

## Procedure

* Login to the CMS
* Navigate or creaete a userform
* Navigate to the "Submissions" tab
* Select the "Print" button
* Observed: Above Error
* Expected: Print dialogue to show

Additionally, the URL looks like this (Not the double slash which looks like there may be a missing action perhaps?)

[code]

Unable to

[2018-01-29 21:21] robbieaverill commented on #708
Reproduced.

The same component works when added to Members in SecurityAdmin, and also works when in the detail/edit screen for an individual Submission in userforms.

[2018-01-31 01:18] phptek commented on #691
Confirmed this is an issue with framework 4.0.x-dev (`8a6686b`) and userforms `5.0.0-beta1`

[2018-01-31 01:25] robbieaverill commented on #573
Hi @leighelse

To implement something like this I expect you'd need to create your own EditableFormField, perhaps one that extends from EditableDropdown (select box) or EditableMultipleOptionField (if you want to implement an autocomplete field).

You would need to override the ORM relationship to `Options` from here, since you'd be defining a list of your own options. This could potentially just

[2018-01-31 01:25] #573 closed

[2018-01-31 01:27] robbieaverill commented on #543
Issue linked to: https://github.com/dnadesign/silverstripe-elemental/issues/176

[2018-02-01 22:42] robbieaverill commented on #691
@phptek @NightJar which locale are you using this in? The problem appears to be in all the non-English locales, since the translation was changed from "%s is required" to "{title} is required", but was only updated in the English language file.

I can't reproduce this using 5.0.x-dev at 77c47a38fad161e398cf7878f6cc5459fc29248f using default English locale, but to fix it for other locales we'll nee

[2018-02-02 01:33] #691 closed

[2018-02-02 02:25] gheggie opened #711 "Error when recipient $EmailAddress field is empty"
In `UserDefinedForm::process()` if a recipient $EmailAddress field is empty:

This occurred because I left the text field empty, and chose a form field for the 'Send email to' fields. The text for the fields in the CMS suggests one OR the other is allowed.

Possible solutions:
1. `$email->setTo($recipient->EmailAddress);` could be inside an `if ($recipient->EmailAddress) {...}` block.
2. Change th

[2018-02-02 02:34] robbieaverill commented on #711
I think that the recipient's email field should be required for you to create an email recipient (that makes sense to me!?). You should be able to either enter an email in the text field and/or select a form field from the dropdown to send it to.

Your first option sounds good to fix the problem, but I don't know why we'd be sending emails that don't go to anyone.

Are you interested in making a p

[2018-02-02 03:36] NightJar commented on #711
IIRC:
Back in the old days a missing from would default to `Email.admin_email` config setting.
This has changed, then so should the requirements of that which depended on it :>

[2018-02-02 03:43] robbieaverill commented on #711
@NightJar we're talking about the email recipient, not the sender (I think)

[2018-02-02 04:08] NightJar commented on #711
Oh right, ignore me then! Indeed it makes no sense.
Skim read; shame.

[2018-02-04 22:25] robbieaverill commented on #10
Re-labelled as an enhancement, and for SS3 only since we're supporting Fluent in SS4

[2018-02-07 03:22] NightJar commented on #708
Yep, that's certainly mal-formed. Looks like it should be:
`admin/pages/edit/EditForm/3/field/Submissions/print`

[2018-02-07 03:52] NightJar commented on #708
Stems from an ID conflict in a `print` action is defined on the CMSForm to [perform a `PrintableTransformation`](https://github.com/silverstripe/silverstripe-admin/blob/1.0/code/LeftAndMain.php#L1599) of the EditForm as a whole.

However this `GridFieldPrintButton` component (from framework) also creates an [action named `print`](https://github.com/silverstripe/silverstripe-framework/blob/4.0/src/

[2018-02-07 04:16] robbieaverill commented on #708
Do you know why it works in other areas where the component is added but not here?

[2018-02-07 04:30] NightJar commented on #708
could be 2 reasons:
* I get a big JS error on a DetailForm, probably prevents the JS from firing. `public/resources/vendor/silverstripe/admin/client/dist/js/vendor.js?m=1517960608` - url must be string, not undefined
* there is no parent `.btn-toolbar` at any level, meaning the entwine selector never matches (this will always be true in the case of a Submission DetialForm - but then you can only p

[2018-02-07 21:43] tractorcow commented on #708
The javascript is at fault; It's incorrectly redirecting to a seemingly obsolete action on LeftAndMain.

[2018-02-08 23:07] NightJar commented on #708
Fix at https://github.com/silverstripe/silverstripe-cms/pull/2092

[2018-02-08 23:50] #708 closed

[2018-02-10 01:14] sparkcom opened #714 "Error when try to insert an 'email receipient'"
ERROR [UNKNOWN TYPE, ERRNO 403]:
IN GET /admin/pages/edit/EditForm/8/field/EmailRecipients/item/new
Line  in

Trace
=====
SilverStripe\Dev\CliDebugView->renderTrace()
DetailedErrorFormatter.php:117

SilverStripe\Logging\DetailedErrorFormatter->output(403, , , , )
DetailedErrorFormatter.php:53

SilverStripe\Logging\DetailedErrorFormatter->format(Array)
HTTPResponse.php:356

SilverStripe\Control\HTT

[2018-02-10 10:56] sparkcom commented on #714
looks like if i login as 'content editor' , not 'administrator', there is permission issue to add an email recipient.   Content editor can create all the fields though.

[2018-02-12 00:06] sparkcom commented on #714
I updated the codes of EmailReceipient.php
from ` /**
     * Return whether a user can create an object of this type
     *
     * @param Member $member
     * @param array $context Virtual parameter to allow context to be passed in to check
     * @return bool
     */
    public function canCreate($member = null, $context = [])
    {
        // Check parent page
        $parent = $this->getCanCre

[2018-02-12 03:32] NightJar commented on #714
Thanks for checking that @sparkcom
I'll try to recreate this now. Do you have any verified steps for getting the error to occur?

[2018-02-12 10:24] sparkcom commented on #714
@NightJar
1. create a user in the group of 'Content authors' and login as the new user to CMS
2. create a UserDefinedPage
3. add a couple of fields, save and publish
4. click 'Add Email Recipient' button

[2018-02-12 20:04] NightJar commented on #714
Thank you @sparkcom - Indeed it was all too easy to recreate, and certainly is a high impact bug.
I should be able to find a fix for this today :)

[2018-02-13 14:44] andrewandante commented on #714
Sorry @NightJar , just realised you'd promised to fix it. How about a peer review instead ? ❤️

[2018-02-13 20:53] NightJar commented on #714
That's OK @andrewandante - 'twas not a promise, and if it were it would have been one I couldn't keep.
Thanks for picking up the work ❤️

[2018-02-13 20:55] #714 closed

[2018-02-13 23:11] NightJar opened #718 "Error on dev/build"
Fresh install/test of `cwp/cwp-installer` rendered:
`[Emergency] Uncaught SilverStripe\ORM\Connect\DatabaseException: Couldn't run query: UPDATE UserDefinedForm_EmailRecipient SET FormClass = 'Page' WHERE FormClass IS NULL Unknown column 'FormClass' in 'where clause'`

Unfortunately no time to investigate further just now.

[2018-02-14 17:59] phptek commented on #605
@robbieaverill I may have come across this issue, in a slightly different guise. We discovered it accidentally when the form submitted, _after_ the validation errors were shown. Upon page-load the validation errors still showed but their styles _immediately_ switched from being red, back to black. Needless to say, if there are still validation errors to be shown, the form shouldn't have submitted.

[2018-02-15 01:57] robbieaverill commented on #718
*Class columns are scaffolded by polymorphic relationships, which used to be the can, regressed and was restored in https://github.com/silverstripe/silverstripe-userforms/pull/719 - closing for now as it should be resolved. Reopen if necessary.

[2018-02-15 01:57] #718 closed

[2018-02-19 00:28] silbinarywolf opened #720 "UserDefinedForm::upgrade_on_build slows down dev/build"
**The problem**
UserDefinedForm::upgrade_on_build() runs on every dev/build. When you have a lot of UserForm fields, this slows down the /dev/build process dramatically.

**The solution**
The current solution is to just disable this flag for projects. However, I propose that the `UserFormsUpgradeService` class does some sort of "fast check" to see if the migrate process needs to be run or not.

**

[2018-02-19 03:36] robbyahn opened #721 "Checkbox display rule has a toggling issue"
Hi

I've got a radio group which has Yes and No answer.
Then using the display rule, made show and hide function.
However, there is an confusion since there is a toggling JS.

If yes, default option show field A,
Also Yes radio button is selected default using custom codes. (custom js codes).
Once a user selects No is ok.. then reselect Yes, it is the none of fields are displaying.
So toggling is

[2018-02-19 03:39] robbieaverill commented on #721
Hi @robbyahn, can you please provide the version of SilverStripe CMS and userforms that you're using?

[2018-02-20 00:05] robbyahn commented on #721
Hi Robbie,
Framework 3.5.7 + Userforms : 4.3.5

e.g.
Option A
Yes (v) default select
No

Field A
Field B

Display logic setting

Default select  : Option A == Yes
Field A is showing

Select  Option A == No
Field A is showing
Field B is showing

Select Option A == Yes
Field A & B are disappearing

So for me, workaround config is that
Field A display logic set to 'No' instead 'Yes'
Then the result w

[2018-02-20 01:12] robbieaverill commented on #721
@robbyahn thanks. Are you able to see if this is still an issue on the latest version of userforms 4.5.x? There's been a bit of bug fixing in recent releases in regards to field display logic

[2018-02-22 01:30] robbyahn commented on #721
Hi Robbie,

The issue is still exist till current latest version.
This new enhancement makes us confused for the display logic.
This root cause was happened from this commit.

https://github.com/silverstripe/silverstripe-userforms/commit/a94f0e35aa9da788efc2c55a95da34888ee2c90e

UserDefinedForm.php  Line 769.
 protected function buildWatchJS($watch)
    {
        $result = '';
        foreach ($wa

[2018-02-22 09:12] AnonymousWebHunter opened #724 "Empty List of Email Templates"
Userforms 3.0

When adding recipients, the` <select>` with email templates is empty. I do have the default template in my files: userforms/templates/email/**SubmittedFormEmail.ss** but it doesn't show up in my select.

I have looked over getEmailTemplateDropdownValues() function but I don't understand why it cannot find. Could it be some sort of file permissions ?

[2018-02-22 11:57] robbieaverill commented on #724
Can you please provide your module versions?

[2018-02-22 12:00] AnonymousWebHunter commented on #724
**frameworks and cms: 3.6.1
userforms: 4.5.4**

[2018-02-22 15:09] AnonymousWebHunter commented on #724
Added the following lines in config.yml:

[code]

This way it finds my templates, but I think this is still an issue, it should at least find
the default template ( SubmittedFormEmail.ss )

[2018-02-23 02:09] #671 closed

[2018-02-23 02:09] robbieaverill commented on #671
This will be resolved in the SilverStripe 4 compatible branch of userforms, since the templates are namespaced.

We can't change this for the SilverStripe 3 versions without breaking semantic versioning, so I think sadly we'll close this for now as "won't fix".

[2018-02-25 22:30] robbieaverill commented on #720
My thoughts on this kind of thing are that they should be standalone tasks, not run on every dev/build - particularly because you'd only need to run them once.

I think we've removed this from the SS4 version now. We probably can't remove it in the SS3 branch, but I'd prefer option 2 out of your ideas.

[2018-02-28 21:22] robbieaverill opened #726 "EditableMultiOptionField and UserForm relation duplication is doubled on SS 4.1"
SS 4.1 enables recursive duplication via the $owns relationships by default, whereas 4.0 doesn't.

Userforms has some custom logic to handle duplication, so on 4.1 this is happening twice.

Issue is shown in the test failures in #725

[2018-02-28 21:27] NightJar opened #727 "Duplicating options for EditableMultipleOptionField happens twice"
e.g. I have a form with a `EditableDropdown`, it has 3 options
I want another dropdown, and I can't be bothered going through all the steps to set another one up.
I duplicate the `EditableDropdown`
I now have a new EditableDropdown, with 6 options (3 real, each presenting twice as different valid options).

This is caused by Userforms having it's own logic to deal with duplications - but the way t

[2018-02-28 21:28] robbieaverill commented on #726
Ok, duplicated by #727 but that has more information. Closing.

[2018-02-28 21:28] #726 closed

[2018-03-01 04:08] NightJar commented on #727
Issue found: https://github.com/silverstripe/silverstripe-versioned/issues/127

[2018-03-01 05:34] buffy999 opened #729 "Getting error after installation - Version 5.0.0"
Tried to install the latest verson 5.0.0, do the dev/build, but getting this error:

Fatal error: Class 'SilverStripe\Forms\SegmentFieldModifier\AbstractSegmentFieldModifier' not found in /localhost/teachsign.org.nz/vendor/silverstripe/userforms/code/Modifier/DisambiguationSegmentFieldModifier.php on line 9

[2018-03-01 05:45] #729 closed

[2018-03-01 20:31] korthjp17 opened #730 "Setting required_identifier to a value is getting put in as plain text"
This seems tp be using plain text instead of rendering the HTML

![image](https://user-images.githubusercontent.com/3858661/36868169-270047be-1d5d-11e8-8bb9-5cffa9a6ba5a.png)

[2018-03-01 20:47] robbieaverill commented on #730
Can you please provide the version you're using

[2018-03-01 21:10] korthjp17 commented on #730
It looks like we are pulling in 190e4ba14efc4216c8683675fd03089eb3c6f424

[2018-03-01 21:10] korthjp17 commented on #730
In our composer.json file we are using `"silverstripe/userforms": "^5.0@dev"`

[2018-03-05 01:31] #727 closed

[2018-03-06 00:17] NightJar opened #731 "If we duplicate a userform, do we expect to recurse into all options on form fields where applicable?"
Duplicating e.g. a `Contact Us` page current (where this is a UserDefinedForm page type) results in a duplication of the page and all form fields on it, however it appears that options for e.g. a dropdown may be currently overlooked.

Is this a regression, or should we patch this up anyway?

[2018-03-06 00:50] robbieaverill commented on #731
This is a regression (when testing against CWP 1.8.0)

[2018-03-06 00:56] NightJar commented on #731
Thought it probably would be. Ta :)

[2018-03-07 13:07] sparkcom opened #732 "permission issues when creating a Dropdown option for a Dropdown control"
-. add a user to the 'content-author' group which can edit any pages
-. login as this new user
-. create userdefinedform
-. add Dropdown
-. click into dropdown and try to add a dropdown option but there is no 'add' button

try to Extend 'SilverStripe\UserForms\Model\EditableFormField\EditableOption' to make it canEdit/canCreate but some javascript error throws up

[2018-03-07 13:28] sparkcom opened #733 "EditableCountryDropdownField default value"
would like to be able to set a default value like 'gb'

[2018-03-07 13:34] dhensby commented on #733
Hi, thanks for taking the time to post to our issue tracker.

The issue tracker is intended to be used for reporting bugs and not for feature requests or discussions.

If you'd like to request a feature please see our [user voice page](https://silverstripe.uservoice.com) where you can submit your ideas.

If you feel you're capable of solving this problem and submitting a pull request with this fea

[2018-03-07 13:34] #733 closed

[2018-03-07 20:27] robbieaverill commented on #732
Hi @sparkcom, please provide the versions of SS CMS and userforms you're using

[2018-03-09 01:40] rodwin opened #734 "Recaptcha"
Hi,

Not a bug but a questions. Does anyone here have implemented google recaptcha with userforms?

Thanks

[2018-03-09 03:08] robbieaverill commented on #734
Hi!

You can use the spamprotection module, which comes with a field compatible with userforms.

https://github.com/silverstripe/silverstripe-spamprotection

Cheers

[2018-03-09 03:08] #734 closed

[2018-03-13 00:26] #732 closed

[2018-03-13 02:55] muppsy007 opened #735 "Upgrade from SS3.5 to SS4 - Error renaming _versions tables"
I'm upgrading an SS 3.5 site to SS 4 and am encountering problems during a dev/build. Here is my site's composer.json:

[code]

When I do a dev/build, I get the following error that halts the dev/build process.

I have tried a few versions. Looks like 4.x is for SS 3.x. I've also tried deleting the requirement from composer.json and doing a composer require per the Readme's suggested install proce

[2018-03-13 03:17] tractorcow commented on #735
The upgrade should automatically rename those tables.

Which version of mysql are you using? What's your lower_case_table_names setting?

[2018-03-13 04:08] muppsy007 commented on #735
Hi there,

It is renaming all them except the one above. Even though some of the other tables have lowercase _versions too.

Using MySQL 5.6.33-0ubuntu0.14.04.1 and my.conf has no setting defined for lower_case_table_names. Should it?

[2018-03-13 11:40] dhensby commented on #735
I think the likelihood is that `lower_case_table_names` is not set to 0 (see https://dev.mysql.com/doc/refman/5.6/en/identifier-case-sensitivity.html)

see somewhat related issue: https://github.com/silverstripe/silverstripe-framework/issues/7882

[2018-03-13 11:40] #735 closed

[2018-03-13 18:50] muppsy007 commented on #735
Thanks guys. Just confirming that adding lower_case_table_names to 1 resolved this issue. I think @dhensby was meant to say "lower_case_table_names is set to 0", as that option is case sensitive per linked mysql doc.

Cheers for the guidance!

[2018-03-14 03:39] rodwin commented on #734
Works great. Thank you

[2018-03-20 21:35] robbieaverill opened #738 "EditableFileField's max file size label is incorrect"
Versions:

[code]

My .htaccess defines:

[code]

But I get this in the CMS:

![image](https://user-images.githubusercontent.com/5170590/37684069-942c21f0-2cf3-11e8-91df-4459142b12df.png)

---

So `EditableFileField::get_php_max_file_size` should be returning 20M converted to bytes, and `getPHPMaxFileSizeMB()` is returning that divided into 1024 (kilobytes). We probably need to divide it again for

[2018-03-20 22:19] robbieaverill opened #740 "EditableFileField converts quotes to encoded characters in frontend"
![image](https://user-images.githubusercontent.com/5170590/37685799-ad01b2e8-2cf9-11e8-82fc-df22dbbba74c.png)

Userforms 5.0.x-dev using cwp/starter-theme

[2018-03-20 22:58] robbieaverill commented on #740
PR at #742

[2018-03-20 23:17] #740 closed

[2018-03-21 02:59] robbieaverill opened #744 "Enable live validation? setting has no effect"
In both CWP 2.x-dev and CWP 1.8.1 with userforms 5.0.x-dev and 4.5.5 respectively, the "Enable live validation?" configuration option appears to have on effect on whether or not javascript validation (jQuery validate) is enabled on the frontend form.

In both cases in the SS3 version if I set a form field to required then enter something into it on the frontend and remove it again then leave focus

[2018-03-22 03:25] zzdjk6 commented on #731
Just found the same issue. It would be nice to have a correct duplication behavior :)

[2018-03-22 03:25] robbieaverill commented on #731
Impact bumped

[2018-03-22 03:52] robbieaverill commented on #738
PR at #745

[2018-03-22 13:26] #738 closed

[2018-03-22 21:06] raissanorth opened #746 "Checkbox fields in field group not rendered properly"
When adding checkbox fields into a field group, they are not rendered properly within it:

This is what it looks like in CWP 1.8.1:
![image](https://user-images.githubusercontent.com/14869519/37798356-5fe46a1c-2e81-11e8-9344-ac0118888289.png)

This is what it looks like in CWP 2.0rc1:
![image](https://user-images.githubusercontent.com/14869519/37798303-3a6ac1aa-2e81-11e8-9f99-b3767f3703ac.png)

I

[2018-03-22 21:08] robbieaverill commented on #746
Related: https://github.com/silverstripe/cwp-starter-theme/issues/31 and potentially fixed by https://github.com/silverstripe/cwp-starter-theme/pull/32

[2018-03-22 21:14] robbieaverill opened #747 "Preview email URL for submission recipients returns 404"
Versions:

[code]

* Create a user defined form page
* Go to Recipients
* Add a new recipient
* Enter an email address into Send Email From and save
* Go to Email Content tab
* Click on Preview Email

Expected:
Email content is previewed.

Result:
![image](https://user-images.githubusercontent.com/5170590/37798854-d3ce4a00-2e82-11e8-9a0a-7e56fc4b9a63.png)

[2018-03-22 22:05] robbieaverill commented on #747
The problem is that `GridFieldDetailForm::getItemRequestHandler` is returning the wrong request class.

On line 134 (`$class = $this->getItemRequestClass()`) a `UserFormRecipientItemRequest` is returned, but the extension point on line 135 is now changing it to `SilverStripe\Versioned\VersionedGridFieldItemRequest`.

I'll look at why this is happening.

[2018-03-22 22:09] robbieaverill commented on #747
Nasty. I don't think there's an elegant way to get around this without disabling the versioned functionality for this model.

[2018-03-22 22:10] robbieaverill commented on #747
Fix at #748

[2018-03-22 22:55] robbieaverill commented on #731
PR at https://github.com/silverstripe/silverstripe-userforms/pull/749

[2018-03-22 23:07] #747 closed

[2018-03-23 00:58] robbieaverill opened #750 "Display rules are not working for Member List Field"
Versions:

* SS 4.1.x-dev, CWP 2.x-dev, userforms 5.0.x-dev
* CWP 1.8.x-dev, userforms 4.5.x-dev

---

I have a member list field, which has initial visibility "hide" and it set to toggle when a checkbox group in my form has the value "2".

The Javascript generates has the toggling rules targeting `#EditableTextField_878a5`, while the field and field holder IDs are `#UserForm_Form_31_EditableTextF

[2018-03-23 01:13] robbieaverill commented on #750
Fixes for SS3 and SS4 are at #751 and #752 respectively

[2018-03-23 01:14] robbieaverill commented on #746
I think the starter theme pull requests fix this - here's what I see when adding a field group around checkbox field, checkbox group and radio group fields:

![image](https://user-images.githubusercontent.com/5170590/37806378-84ec5cac-2ea4-11e8-8c9c-545a430311fe.png)

Closing - feel free to reopen if you think this is still a problem with those two starter theme PRs merged

[2018-03-23 01:15] #746 closed

[2018-03-23 01:17] robbieaverill commented on #724
Cannot reproduce on framework and CMS 3.6.2 with userforms 4.5.4. Please update your patch versions to the latest, and if the issue still persists feel free to reopen this issue :)

[2018-03-23 01:17] #724 closed

[2018-03-23 01:20] robbieaverill commented on #721
Are you saying that this problem occurs when the display rule is set to change its initial visibility when the default value of another field is selected? If that's the case, I can imagine that the "on change" handler wouldn't fire, since the default value is already set. In this case you could invert your display rule logic, e.g. instead of saying "initially hide, and show when Field B is foo" yo

[2018-03-23 02:36] robbieaverill opened #753 "Empty title field renders the system "Name" instead of omitting it"
SS 4.1.x-dev + userforms 5.0.x-dev:

![image](https://user-images.githubusercontent.com/5170590/37808555-d73a12c8-2eaf-11e8-8b4a-4f5b8bb9f270.png)

SS 3.6.x-dev + userforms 4.5.x-dev:

![image](https://user-images.githubusercontent.com/5170590/37808562-e40eb896-2eaf-11e8-884d-709f3c81b589.png)

[2018-03-23 02:51] robbieaverill commented on #753
Whoops! This is a regression from my changes in #743

[2018-03-23 03:25] robbieaverill commented on #753
Fixes and tests at #754

[2018-03-25 22:05] #753 closed

[2018-03-26 12:59] dhensby commented on #750
both merged

[2018-03-26 12:59] #750 closed

[2018-03-27 09:50] #731 closed

[2018-04-03 10:40] a2nt opened #756 "[BUG] Missing default for localisation key SilverStripe\UserForms\Model\UserDefinedForm.ONCOMPLETEMESSAGE"
It happens when OnCompleteMessage field is missing
[code]

[2018-04-03 10:58] a2nt opened #757 "Unsaved information is lost when a new field is added"
When user clicks add new field information that wasn't saved disappears without any warning

[2018-04-03 11:09] robbieaverill commented on #756
Would you like to make a pull request to fix?

[2018-04-04 05:56] extravio opened #758 "Fatal error: UserDefinedFormController::init() must be public"
I get the following Fatal error when running dev/build

Fatal error: Access level to SilverStripe\UserForms\Control\UserDefinedFormController::init() must be public (as in class PageController) in ...www/vendor/silverstripe/userforms/code/Control/UserDefinedFormController.php on line 519

in composer.json
"silverstripe/userforms": "~5.1",

PHP 7.2.3

[2018-04-04 06:07] robbieaverill commented on #758
Thanks for reporting! This is caused by a missed step in upgrading your project from SS3 to 4 (I assume) where init changes from public to protected.

Please change your PageController::init visibility.

[2018-04-04 06:07] #758 closed

[2018-04-05 02:31] raissanorth opened #759 "Unable to navigate to former page in multi-page userform."
On a multi-page userform, the user cannot navigate to a previous page once it is completed. This is a regression from 4.x to 5.x

To recreate compare `silverstripe/userforms 4.5.5` against `silverstripe/userforms dev-master 53f7706`. Add a multipage form. Complete all fields on the first page and navigate to the next page. Then, try to navigate back to the previous page.

[2018-04-05 02:42] robbieaverill commented on #759
Do you see any errors in your browser console?

[2018-04-05 02:45] raissanorth commented on #759
No, I don't.

[2018-04-05 02:50] robbieaverill commented on #759
Are you using the starter theme? I can't reproduce this running userforms d9337c8016e628823a676a6eb4dc943229d0cf3b and starter theme cf5a368b83940cb3524cfb73e3671818bc7a826d

[2018-04-05 02:52] robbieaverill commented on #759
Ok I think you just need to update your version of userforms to the latest

[2018-04-05 03:55] raissanorth commented on #759
I am using `silverstripe/recipe-formbuilding` which requires `silverstripe/userforms:  5.0.x-dev`. So

[2018-04-05 04:28] raissanorth commented on #759
Sorry, I should have been clearer in my description. I have pulled the commits you referred to and I _can_ navigate using the previous and next buttons, however, I _cannot_ navigating using the `1` and `2`, etc. buttons.

![image](https://user-images.githubusercontent.com/14869519/38347259-62ca8a64-38ee-11e8-8e61-06829baaf9ef.png)

[2018-04-05 04:45] robbieaverill commented on #759
Yep, I can reproduce that. You should be able to click on page number buttons that you've already been on, but future pages should be disabled. I'm seeing the latter but the former is not toggling the page changes.

[2018-04-05 05:08] raissanorth commented on #759
Same here. In the above example button 2 is disabled when on page 1, as expected. But when on page 2, button 1 is _unexpectedly_ disabled.

[2018-04-11 22:54] muppsy007 opened #761 "Silverstripe 4 Upgrade - Page of type UserDefinedForm loses all fields"
Hi there,

Just upgrading a site from 3.x to 4.x. Pulling dev-master of this module in composer.json.

Upgrade seems to go without issue. But when we visit a page setup as UserDefinedForm (frontend) the form is not there. Just the submit button. When I go to view in the CMS, there are no fields defined under the Form tab.

Looking at the data, the page in question has an ID of 48. When I look at t

[2018-04-11 23:11] robbieaverill commented on #761
Hi @muppsy007, thanks for reporting and sorry to hear you're having problems with this. We've tried to ensure that the upgrade process goes smoothly without need for intervention. We'll let you know once we have more information on this issue.

[2018-04-12 00:42] muppsy007 commented on #761
FYI additional issue is all passed submissions are also not visible on the same page. Yet they are present in the table SubmittedForm

Doing a bit of digging in Data. I see a new field in both SubmittedForm and EditableFormField (and their _Live and _Versions siblings) called "ParentClass". This is set to the first class available in the Enum for it right after the upgrade. However when I create a

[2018-04-24 22:19] buffy999 opened #762 "'Add' button not working for dropdown, checkbox, and radio options"
Not sure if others have come across this issue.

Trying to select the 'Add' button for options fields in the Options tab for those three dropdown, checkbox, and radio fields.

I'm using the latest version for UserForm master module and SS4.1.0 version.

From what i can see in the view source code, the 'Add' button it shows missing url in the href:
[code]

Is there other way to hack to add the opti

[2018-04-25 21:05] robbieaverill commented on #762
Hi @buffy999, this part of userforms uses a third party plugin to allow faster data entry. Perhaps you're experiencing this issue? https://github.com/symbiote/silverstripe-gridfieldextensions/issues/246 You could check in your browser console and let us know if there are any error messages

[2018-04-28 12:41] zzdjk6 commented on #673
Just submit a PR: https://github.com/silverstripe/silverstripe-userforms/pull/763

[2018-04-28 17:14] digitall-it opened #764 "Localize UserFormStepNav.ss"
Localize prev and next buttons in UserFormStepNav.ss

[2018-04-29 22:41] robbieaverill commented on #764
Would you like to make a pull request for this @digitall-it?

[2018-04-29 23:31] digitall-it commented on #764
Will do. Let me check for other untranslated strings. Found “Page %n of %n” so far.

[2018-04-30 05:35] clodeindustrie commented on #68
Hey, Any extra pointer on this? I'm thinking about taking that on. Letting the user create a list of actions finishing with a _terminal_ action that returns any type of response.

[2018-04-30 09:01] NightJar commented on #68
Since Actions are essentially fields, and with 4.0 the action on a form is no longer bound to the controller it's factory funciton resides on, I would look at making EditableFormAction type editable form fields, and perhaps presenting them in a different manner.

This way you can leave each type (e.g. Email) as it's own class, with the functions applicable to it residing in it's edit form.

Wilr's

[2018-04-30 12:59] clodeindustrie commented on #68
Cool thanks for that, I might create two new type of things _EditableFormAction_ objects to handle how the response it returned to the page (Full reload, html fragment, json etc...) and something else to handle side effects (emailing, updating third party service like Hubspot etc..) that could be pipelined.

[2018-05-02 21:51] tazzydemon opened #766 "4.5 Email recipient choice broken."
In 4.5 UserDefinedForm_EmailRecipient.php the selection of existing email fields is obsolete. This may affect many versions of this file and is due to an old change in the way EditableEmailfield worked. There is no longer an EditableEmailField table.

This the line 141

`$validEmailFromFields = EditableEmailField::get()->filter('ParentID', $form->ID);`

Should be

`$validEmailFromFields = Editable

[2018-05-03 11:28] dhensby commented on #766
@tazzydemon the code change shouldn't be necessary; just because there's no `EditableEmailField` table doesn't mean the `EditableEmailField::get()` is wrong.

The `allow_unbound_recipient_fields` config option should be documented already.

If both statements above are true, I'm not sure there's any bug here?

[2018-05-03 11:29] dhensby commented on #766
@andrewandante didn't you work on fixing something around email picking?

[2018-05-03 11:29] dhensby commented on #766
yep, #717 might be relevant / related?

[2018-05-04 04:04] robbieaverill commented on #761
Reproduced

[2018-05-04 04:13] robbieaverill commented on #761
Ok interesting - so the legacy classname remapping functionality in core is designed to update the ClassName field, but this is a polymorphic relationship which doesn't get updated.

I think that this is potentially a core issue that needs to be fixed, so I've logged it as https://github.com/silverstripe/silverstripe-framework/issues/8052

I'll work on a userforms fix though

[2018-05-04 04:39] tardinha commented on #633
This is a huge, ongoing issue with all our clients.

Any exports they do, they have to then do find/replace on the CSV file to clean out all the HTML.

Changing [ATT() to RAW() here](https://github.com/silverstripe/silverstripe-userforms/blob/8ab6b0506a5233c445935506d4211e74bf20c0b5/code/Model/Submission/SubmittedFormField.php#L81) solves the issue for both the GridField and the CSV Export. As the

[2018-05-04 04:47] robbieaverill commented on #633
Ive bumped the impact rating. PRs welcome, in case the core team doesn’t get to it fast enough :-)

[2018-05-07 23:11] chtombleson opened #767 "Changing a field type redirects you to edit field."
When changing a field type using the dropdown it redirects you to edit that fields settings, which makes it nearly impossible to change the field type.

Userforms version: 5.1.1

[2018-05-09 06:26] stephenmcm commented on #711
Bump. This is currently still broken.
https://github.com/silverstripe/silverstripe-userforms/blob/master/code/Model/Recipient/EmailRecipient.php#L545

Setting the 'Send email to' field to blank (empty 'Type to address' and '.. or select a field to use as the to address' to 'Select an Option'), will cause SwiftMailer to *always* fail with the error:
[code]
In a production environments this will cau

[2018-05-15 00:14] Firesphere opened #772 "Preview email gives a controller error"
When clicking the "Preview email" button on the Email Content tab, a new page opens with the error
`I can't handle sub-URLs on class SilverStripe\Admin\LeftAndMainFormRequestHandler.`

[2018-05-15 01:47] robbieaverill commented on #772
Can you please provide the userforms and core versions you're using?

[2018-05-15 01:48] Firesphere commented on #772
Latest stable on all.
4.1, 5.1.1

[2018-05-15 01:49] robbieaverill commented on #772
I can't reproduce using framework c3d5535 and userforms e041c48. Will try again with those specific versions.

[2018-05-15 22:18] Firesphere commented on #772
Possibly caused by the Elemental Forms?

[2018-05-16 04:17] Firesphere opened #773 "Speed in CMS has room for improvement"
More often than not, saving the form in the CMS times out from Apache/Nginx (30+ seconds)

[2018-05-16 10:27] dhensby commented on #773
We had done some work on improving this, what version are you experiencing this on?

[2018-05-16 10:28] dhensby commented on #773
see https://github.com/silverstripe/silverstripe-userforms/pull/538

[2018-05-16 10:28] Firesphere commented on #773
Latest of all. Specifically probably worth mentioning, ElementalForms instead of just UserForms

[2018-05-16 10:29] dhensby commented on #773
Right, perhaps there's been some regression around this logic; otherwise, if it's just the sheer number of objects being saved, the only other choice is to move this into a queued job :/

[2018-05-16 10:35] Firesphere commented on #773
My first thought would be to move it to a raw query and then publish, instead of going down the rabbit hole of object instantiation?

[2018-05-16 10:50] dhensby commented on #773
I guess the first steps are really to profile where the time is being taken... then we decide from there

[2018-05-16 10:52] Firesphere commented on #773
My profiling efforts so far have not given  single PoE, I have so far only found "it takes way too long", without any useful profiling stats. :(

[2018-05-16 11:18] dhensby commented on #548
@ohararyan it was removed because it caused some regressions, see #533

[2018-05-16 11:20] dhensby commented on #548
@ohararyan please confirm the versions of framework / UDF you are using

[2018-05-16 13:29] dhensby commented on #548
I've set up a SS site with 4.x-dev and UDF 4.5.5 and I can't replicate this issue.

@ohararyan please can you provide versions and exact set up of the UDF / fields to produce this issue?

thanks

[2018-05-16 21:57] ohararyan commented on #548
@dhensby Looks like this is related to a framework issue that was fixed in SS 3.4.2 that handles the way dropdown fields return the source as array. https://github.com/silverstripe/silverstripe-framework/commit/7368deca8f409c5aba94a6b646d7c0ac4fbd452f

Project I'm working on is running version 3.4.0 so will look to see what we can do regarding an upgrade.

Tested the following with fresh installs

[2018-05-17 21:54] JessChampion opened #775 "Cannot add display rules"
Each time I click the add button to add a display rule I get the following error:
[code]

Required Versions in Composer:
        "silverstripe/recipe-cms": "^1",
        "silverstripe/userforms": "^5.1",
        "dnadesign/silverstripe-elemental": "^2.1.0",
        "dnadesign/silverstripe-elemental-userforms": "^1.0@dev",

Installed version of GridFieldExtensions 3.1.1
Have tried nuking the vendor

[2018-05-17 22:02] robbieaverill commented on #775
Thanks for reporting! This issue has cropped up a couple of times - the closest I can find at a glance to reference is https://github.com/symbiote/silverstripe-gridfieldextensions/issues/246, so I'll close this as a duplicate of that. Our team is looking at these issues today =)

[2018-05-17 22:02] #775 closed

[2018-05-17 23:18] robbieaverill commented on #761
Ok so it's not as simple as "we need to update obsolete class names in polymorphic DB fields" - the `EditableFormField.Parent` relationship was not polymorphic in SS3 but is now, for example. Because the new ParentClass field created is a class name enum, it automatically selected `SilverStripe\Assets\File` as the default value.

I think that we can write some logic in userforms that will change `

[2018-05-18 01:43] robbieaverill commented on #761
PR at #776

[2018-05-22 21:35] #759 closed

[2018-05-23 02:07] #761 closed

[2018-05-24 16:13] a2nt commented on #757
I suggest to save form fields into browser's local storage until data will be saved.
But silverstripe in most cases shows an alert that information wasn't saved. Would u like to continue?

[2018-05-24 21:26] robbieaverill commented on #757
Perhaps we could just include the default change tracker in these fields - this shows a confirmation message saying "you have unsaved changes, are you sure you want to ..." - how does this sound?

cc @clarkepaul @sachajudd

[2018-05-25 00:47] clarkepaul commented on #757
Yup use the default experience, if we are to doing local storage we should think about it globally.

[2018-05-25 07:37] a2nt commented on #757
@clarkepaul guess it shall be done globaly anyway cuz the other SS-modules has the same issue

[2018-05-28 22:20] jakxnz opened #779 "500 error when exporting to CSV, when a field with stored data has since been removed from the form"
`"silverstripe/silverstripe-userforms":  "4.5"`

[code]

Steps to recreate:

- Create a userdefinedform with multiple fields
- Save/Publish the userdefinedform page
- Generate a form submission
- Remove one of the fields from the userdefinedform
- Save/Publish the userdefinedform page
- Browse to the "Submissions" tab
- Click "Export to CSV" at the bottom of the submissions gridfield

It possibly

[2018-05-29 21:59] robbieaverill opened #780 "Test failures affected by global state templates e.g. starter theme"
**Context: CWP 2.0.0, SilverStripe 4.1.1, userforms 5.0.x-dev**

The following unit tests fail due to cwp/starter-theme template modifications.

We should update the tests to either be less strict about their markup assertions, or to use stub templates (or disable themes altogether):

[code]

[2018-05-30 08:10] guyvanbael opened #781 "export fails when there's a single quote or ampersand is in the fields (userforms 4.2.3)"
Seems like export is failing in version 4.2.3 when users have added a single quote or an ampersand in one of the fields

[2018-06-01 04:49] robbieaverill commented on #764
@digitall-it still keen on a PR for this?

[2018-06-01 04:50] robbieaverill commented on #762
@buffy999 are you still experiencing this issue?

[2018-06-01 04:53] robbieaverill commented on #767
Cannot reproduce using Chrome 66, what browser are you using @chtombleson?

[2018-06-01 05:02] robbieaverill commented on #780
Fix at https://github.com/silverstripe/silverstripe-userforms/pull/782

[2018-06-01 05:08] buffy999 commented on #762
@robbieaverill, this issue has been resolved now as it was the resources folder in the public folder that the vendors files were missing, so i have updated all the files using "composer vendor-expose", that resolved the 'Add' button for options fields in the Options tab for those three dropdown, checkbox, and radio fields and as well for other issues i had related to this issue:
https://github.com

[2018-06-01 05:08] #762 closed

[2018-06-01 05:08] robbieaverill commented on #762
Thank you

[2018-06-01 07:31] digitall-it commented on #764
Yes please keep it open, I forgot about it.

[2018-06-04 11:37] #780 closed

[2018-06-06 04:42] chtombleson commented on #767
I'm using Chrome 67

[2018-06-08 21:57] Juanitou commented on #68
That could be so nice for something as simple as modal forms, where the response would update the modal with the ReceivedFormSubmission text. As far as I understand it, this is not possible now since the process() function always redirect to the 'finished' page.

[2018-06-15 10:03] robbieaverill commented on #686
Fixed with #784

[2018-06-15 10:03] #686 closed

[2018-06-22 12:00] guyvanbael commented on #761
@robbieaverill don't know what's change, but pulled in 5.1.1 again and now everything seems to work fine

[2018-06-27 23:36] robbieaverill commented on #744
We could potentially remove this setting. It affects v3 and v4 and live validation always seems to be enabled at the moment. Perhaps removing it would be the best way going forward.

[2018-06-27 23:55] robbieaverill commented on #604
Note: revalidate to check if this still affects v4

[2018-06-28 21:15] #756 closed

[2018-06-29 04:16] aNickzz opened #788 "Inconsistent validation message location"
In [FormField_holder.ss](https://github.com/silverstripe/silverstripe-framework/blob/4/templates/SilverStripe/Forms/FormField_holder.ss), server side messages are inserted as a `<span class="message">` after the `.middleColumn`.
The validation performed in [UserForms.js](https://github.com/silverstripe/silverstripe-userforms/blob/f758ae3e03a936ed235131419ba1a57b2673c5be/client/src/bundles/UserForm

[2018-06-29 05:06] aNickzz opened #789 "div.Actions renamed to div.btn-toolbar in SS4"
In SS Framework, the PR https://github.com/silverstripe/silverstripe-framework/pull/5581 changed the class name for form buttons container from `Actions` to [`btn-toolbar`](https://github.com/silverstripe/silverstripe-framework/blob/b311aff6e92986c18b837b424ddef0e33facbcc5/templates/SilverStripe/Forms/Includes/Form.ss#L19). To keep Userforms consistent (and avoid needing to duplicate css rules), t

[2018-06-29 05:42] silbinarywolf opened #790 "Form not showing when Elemental is installed"
Please note the following steps were taken on a project with which I have very little familiarity.

**The problem (pre-investigation)**
I have the UserDefinedForm module and Elemental installed. My UserDefinedForm.ss template looks like the following:
[code]

However, the $Form is refusing to render and I initially had no ideas on why that wasn't working.

**The problem (post-investigation)**
So a

[2018-07-01 22:14] robbieaverill commented on #790
Sounds reasonable =)

[2018-07-02 00:10] tardinha commented on #790
Agreed. This is a big issue on our sites!

[2018-07-02 00:32] NightJar commented on #789
Seems like you've done most of the work already - how would you feel about making that PR? :)

[2018-07-02 07:07] aNickzz commented on #788
The most logical spot would be to try to replicate where the templates would put it;

[CheckboxField](https://github.com/silverstripe/silverstripe-framework/blob/85a87ed22663433d73aed939e442b5188fcbfa63/templates/SilverStripe/Forms/CheckboxField_holder.ss#L4) directly after the `$Title` `<label>`
[Other fields](https://github.com/silverstripe/silverstripe-framework/blob/85a87ed22663433d73aed939e44

[2018-07-02 21:52] NightJar commented on #788
Ideally yes, you're right - it would be best if one couldn't tell if a validation message had come from JS or PHP. To be honest it's always irked me as well.

The issue with finding the `.message` in the closest `.field` is that message boxes don't exist until there is a message to be rendered - and since we're shorting the feedback loop a whole submit/response cycle it's this JS that must add one

[2018-07-04 22:13] IanSimpson opened #792 "Form Fields on Subclasses disappear on dev/build"
This issue is similar to #761, however slightly different, and still occurs with 5.2.0.

We have a pretty standard subclass of UserDefinedForm, with some extra fields:

    class Package extends UserDefinedForm {
      ...

This initially works great. We can create a Page of that type, add fields to it, and display the `$Form` in our template.

However, on dev/build, all the fields disappear. I no

[2018-07-04 22:45] ScopeyNZ commented on #792
Hey Ian. Thanks for the report. You can disable the update (and message you see in the log) by adding this configuration:

[code]

[2018-07-04 23:38] IanSimpson commented on #792
Thanks for the reply @ScopeyNZ, appreciate it. We've been working around it with manually running a SQL query after build, but this is even better - will pop in place now.

[2018-07-05 14:16] Valandur commented on #767
Using Silverstripe 4.1.2 and UserForms 5.2.0

I'm having the same issue, along with another issue where the "Add" button on the detail form of a `Dropdown Field` doesn't work. I believe I have a way to reproduce both issues:

1. Create a user form, and add a `Text Field` to it
2. Save the form/page
3. Click the field type and change it to `Dropdown Field`
4. Save the form/page

This works, and I'm

[2018-07-13 01:53] robbieaverill commented on #711
I see a two pronged fix for this:

1) Do not try to send emails if there isn't a recipient defined. We could fall back to using the admin email address if one is configured, but I'd err in favour of making this explicit.
2) Add a validation notice if you haven't defined a recipient email address OR chosen a user defined form field to use one from.

[2018-07-13 01:56] NightJar commented on #711
I'm not sure I understand the OR part of option 2 (which I think I would prefer, if I understood it in whole).

[2018-07-13 01:58] raissanorth commented on #711
I like the validation notice approach.

[2018-07-13 01:59] robbieaverill commented on #711
The existing functionality lets you either type an email address or choose a form field from the user defined form you're in that would define one

[2018-07-13 02:03] NightJar commented on #711
oh, I see.
Validation notice if:
- invalid email address (including none)
AND
- no form field (valid, published) chosen.

yes, this option.

[2018-07-16 01:59] stephenmcm commented on #711
This will still need validation and fallback before going to swiftmailer as a frontend user can submit a junk email address that will trigger a 500 error still.

[2018-07-16 02:57] robbieaverill commented on #711
@stephenmcm yep, swift mailer throws an exception when you `->setTo('invalidemailformat')` which we can use to catch and skip with. This is the same when you have an empty email address since it fails in the same validation step.

[2018-07-17 14:32] guyvanbael commented on #761
Indeed, still an issue in 5.2

[2018-07-17 14:35] guyvanbael commented on #792
i added @ScopeyNZ solution, but no luck. After a dev/build/?flush, all my fields are lost. When checking the database, parentclass is set to NULL
..hope that someone can fix this soon....

<img width="328" alt="schermafbeelding 2018-07-17 om 16 33 11" src="https://user-images.githubusercontent.com/3098809/42824076-58f501bc-89df-11e8-9ea7-1087d706a79c.png">

[2018-07-17 18:17] marek-eh commented on #792
Looks like configuration variable might have underscores? Following seems promising for me.

`SilverStripe\UserForms\Model\UserDefinedForm:
  upgrade_on_build: false`

[2018-07-17 20:02] NightJar commented on #761
It may need "merging up" from 5.1

[2018-07-17 21:32] ScopeyNZ commented on #792
Ah yes sorry, my mistake, it has underscores:

https://github.com/silverstripe/silverstripe-userforms/blob/90808ce16733104994ca11ecefa2ce35940da74d/code/Extension/UpgradePolymorphicExtension.php#L50

[2018-07-18 06:16] guyvanbael commented on #792
Yep, That does the trick. Thanks @ScopeyNZ !

[2018-07-18 07:01] #792 closed

[2018-07-26 05:37] raissanorth commented on #789
Closed by https://github.com/silverstripe/silverstripe-userforms/pull/791

[2018-07-26 05:37] #789 closed

[2018-07-27 02:52] NightJar commented on #761
Hi @guyvanbael - I see the commit was merged into the 5.1 branch, but no 5.1.2 has been tagged yet. The commit however _is_ present in 5.2.0.
I see your response at https://github.com/silverstripe/silverstripe-userforms/issues/792#issuecomment-405821244 was posted after the message above (by an hour or two), so I'm going to leave this as closed since it reports the situation as resolved :)

[2018-07-30 16:22] digitall-it opened #795 "4.5.2 Can't match EditableCheckboxGroupField in sending rules"
In UserForms 4.5.2 the EditableCheckboxGroupField can't be matched against a string with the Equals operator in the sending rules panel, even if the string representation of an already submitted form is copied and pasted.

Example:
in the UserDefinedForm builder, I've got an ECGF called Consenso, with two possible independent values: "Consento al GDPR Base" and "Consento al GDPR Newsletter Centro

[2018-07-30 16:47] digitall-it commented on #795
It is solved this way:
in `UserDefinedForm_EmailRecipientCondition.php`, after
[code]
add
[code]
also, the EditableCheckboxGroupField values were too long, so after saving the recipient condition form the condition rule was truncated to "Consento al GDPR Base, Consento al GDPR Newsletter" missing the " Centro Benessere" part. I reduced the form values, but please consider extending the length of t

[2018-07-30 16:49] digitall-it commented on #795
Please also consider adding a "Contains" operator, like this.. wait a minute, now that I am reading the "Equals" operator, it seems to match the individual array fields!

I have to make a check.

[2018-07-30 16:53] digitall-it commented on #795
Never mind, the Equals operator already did all the work. No problem at all.

[2018-07-30 16:53] #795 closed

[2018-07-30 19:11] digitall-it opened #796 "Get the ID of the submitted form from the email template"
I need to access the ID of the form submission from the email template, to create a GDPR compliant link. I created a template global provider to have the method available during email template rendering, but the required form submission ID cannot be retrieved from the template. It could be sufficient to merge the submission ID to the exposed fields to the template.

[2018-07-30 20:36] NightJar commented on #796
This sounds like a great feature to add, although some other GUID might be better (slightly more secure than the database ID). How do you feel about making a pull request to add this @digitall-it ?

[2018-07-30 20:59] digitall-it commented on #796
The link that I create is tamper-proof by adding and checking a RIPEMD-160 crypto hash. I just need a way to actually get the submission by ID in database by passing this data to a confirm function in a controller I've made. Do you still think I should use another GUID? Can you give me an example?

I'm creating a Silverstripe Mautic integration module and this is the last step, getting the double

[2018-07-30 21:02] digitall-it commented on #796
Wait a minute, there's actually an hook just waiting for me!
[code]
Maybe I can use that.

[2018-08-03 00:14] digitall-it commented on #796
Had to do that (ID has to be accessible from the email template):
[code]
as you see, the only way to get the SubmittedForm ID is to pick one of the data fields and ask for his parents, a little inelegant.

Apart from that, this data could be exposed to both the template and the body by default.

[2018-08-03 10:27] digitall-it opened #797 "DisplayLogic animation"
Tested on branch for SS3.x. Display Logic on frontend forms do not seem to respect animation config settings in display logic, they always toggle, never fade or slide.

[2018-08-03 10:33] robbieaverill commented on #797
Could we please have steps to reproduce?

[2018-08-03 10:50] digitall-it commented on #797
@robbieaverill thank you for answering my question so quick.

## Steps to reproduce ##
1. Install Silverstripe 3.x
2. Install Silverstripe-UserForms
3. Create an UserForm page with display logic criteria
4. Navigate to the frontend page where the UserForm should appear
5. Interact with the form fields
6. The fields appear and disappear abruptly without any fluid animation
7. Add a new YAML directi

[2018-08-05 20:58] robbieaverill commented on #797
@digitall-it forgive me if I'm wrong, but this sounds like an issue for the display logic module rather than userforms?

[2018-08-05 21:46] digitall-it commented on #797
Display Logic obeys the directive when used without UserForms. Maybe UserForms forces an animation type, I’ll do a check on the rule builder.

[2018-08-12 21:10] robbieaverill commented on #797
Thanks. This sounds to me like an issue that should be raised on that module rather than this. Feel free to reopen the issue if you disagree =)

[2018-08-12 21:10] #797 closed

[2018-08-13 01:52] NightJar commented on #796
I think your request is valid @digitall-it - so if you don't mind I'll leave the issue open as a new feature request :)

[2018-08-13 09:38] digitall-it commented on #796
Thank you

[2018-08-14 03:56] mediabeastnz commented on #779
Is there a fix for this? As far as I can see it effects all user forms all the way back to version 2

[2018-08-14 04:04] robbieaverill commented on #779
Anyone able to confirm if it's still affecting SilverStripe 4 versions?

[2018-08-15 04:30] robbieaverill commented on #779
I can't reproduce this on CWP 2.1.x (SilverStripe 4.2.x with userforms 5.2.x)

[2018-08-15 04:43] robbieaverill commented on #779
I did fix a little bit in the UI though: #798

[2018-08-15 04:46] robbieaverill commented on #779
I also can't reproduce this with CWP 1.9.x which uses SilverStripe 3.7.1 and 4.5.x-dev. Closing.

[2018-08-15 04:46] #779 closed

[2018-08-15 04:49] robbieaverill commented on #781
I can't reproduce this using SilverStripe 3.7.1 and userforms 4.5.x-dev. Perhaps upgrading to this version will fix your problem.

Related issue (still reproduced): https://github.com/silverstripe/silverstripe-userforms/issues/633

[2018-08-15 04:49] #781 closed

[2018-08-15 04:56] robbieaverill commented on #633
I've just re-tested this, here are my findings:

### SS 3.7.1, userforms 4.5.x-dev

* HTML is double escaped when viewing it in the CMS (should be single escaped e.g. show `<p>Hello world</p>` rather than `&lt;p&gt;Hello world&lt;/p&gt;`
* HTML is not escaped in CSV exports: `<p>Hello world</p>`
* Print view uses the CMS, so double escaped

### SS 4.2.0, userforms 5.2.x-dev

* Identical results

#

[2018-08-15 04:58] tardinha commented on #633
Ideally, there'd be no HTML at all in CSV exports!

[2018-08-15 04:59] robbieaverill commented on #633
You can extend userforms and remove HTML from submitted form field data if you'd like to, but it seems like an opinionated choice to make from the module's point of view =)

[2018-08-15 05:15] tardinha commented on #633
We get constant complaints that all form exports have "weird characters" all over the place.

Seems to me, putting HTML into a CSV is the opinionated part :P

[2018-08-15 05:16] robbieaverill commented on #633
Well, it'd be your website users that are putting the HTML there wouldn't it? 😄

[2018-08-15 05:27] tardinha commented on #633
Yeah. As CSVs are usually exported to be used in some other apps, the content should be lovely and clean and deHTMLed :)

[2018-08-15 05:28] robbieaverill commented on #633
To clarify, I agree that the `<br>` tags which userforms adds should not be displayed literally at any point.

I'm not agreeing that we should be stripping HTML from submitted form fields as part of this module - user code can do that if they want to

[2018-08-15 05:32] tardinha commented on #633
No, the form fields should be as is.

But he CSV export should be HTML free.

[2018-08-15 05:32] robbieaverill commented on #633
If a user submits HTML in a user defined form field I would expect it to be in the CSV export as well

[2018-08-15 05:38] tardinha commented on #633
Yeah...

So what happens if someone puts in `Mark's dumb "example" `, does that end up in the CSV as `Mark&#039;s dumb "example"&nbsp;`?

[2018-08-15 05:39] robbieaverill commented on #633
No, the CSV exports are currently not escaping HTML at the moment (see findings [here](https://github.com/silverstripe/silverstripe-userforms/issues/633#issuecomment-413094248)).

[2018-08-15 05:43] tardinha commented on #633
Well, they should be :)

At the moment, CSV exports are pretty much useless for end users.

[2018-08-15 22:44] tardinha commented on #633
@robbieaverill awesome, thanks chief :)

[2018-08-23 12:45] bumbus opened #800 "Translations of SilverStripe\Forms\Form.FIELDISREQUIRED do not resolve name parameter"
In most of the translation files something like this is used:
[code]
Which renders ugly stuff like this:  "%s ist ein Pflichtfeld"

It can be fixed like this:
[code]

[2018-08-23 20:39] #800 closed

[2018-08-27 04:26] CapicheDesign opened #802 "Uncaught BadMethodCallException: Object->__call(): the method 'isPublished' does not exist on 'SilverStripe\UserForms\Model\Submission\SubmittedForm'"
`Uncaught BadMethodCallException: Object->__call(): the method 'isPublished' does not exist on 'SilverStripe\UserForms\Model\Submission\SubmittedForm'`

I get this error after:

1. creating a user-defined-form page
2. creating a form
3. completing and submitting form
4. Clicking on individual submission in submissions tab on form page

Installed version (via `composer show`) is silverstripe/userfo

[2018-08-27 04:30] robbieaverill commented on #802
@CapicheDesign thanks, can you please provide the version of silverstripe/cms you're using too?

[2018-08-27 04:42] CapicheDesign commented on #802
No problem:

[code]

[2018-08-27 04:45] robbieaverill commented on #802
Thanks, also if possible could you provide a full stack trace of that error?

[2018-08-27 04:48] CapicheDesign commented on #802
Here's everything I get when I send the URL with ?isDev=1 attached:

[code]

[2018-08-27 04:50] robbieaverill commented on #802
Yes, I suspected that would be the case:

[code]

The problem is that the "unclecheese/betterbuttons" module isn't correctly checking whether the record is versioned:

https://github.com/unclecheese/silverstripe-gridfield-betterbuttons/blob/feature/ss4-upgrade/src/Buttons/Delete.php#L50

Thanks for reporting, please take this up with the module author

[2018-08-27 04:50] #802 closed

[2018-08-27 04:54] robbieaverill commented on #802
@CapicheDesign it looks like https://github.com/unclecheese/silverstripe-gridfield-betterbuttons/pull/181 fixes your problem by the way

[2018-08-27 04:56] CapicheDesign commented on #802
Awesome thanks!

[2018-08-28 00:10] DmitryKuh opened #803 ""composer require silverstripe/userforms' cannot install on windows 10"
I'm trying to add user forms (composer require silverstripe/userforms) and got the following error:
------------------------------------------------------------------------------------
Using version ^5.2 for silverstripe/userforms
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Package operations: 3 installs, 0 u

[2018-08-28 00:11] robbieaverill commented on #803
Hi @DmitryKuh

At this point Composer has probably already installed the package, and is failing when running the equivalent of `composer vendor-expose`.

If your system doesn't support symlinks, you can tell it to use a physical file copy method instead:

[code]

If you have any further issues, please raise them on https://github.com/silverstripe/vendor-plugin

[2018-08-28 00:11] #803 closed

[2018-08-28 01:00] DmitryKuh commented on #803
Yes, you are right. The package was installed but I do not think successfully...
I rebuilt the DB after the installation without any issues but when tried to edit any page it keeps "Loading...".

I have Windows 10. It should support the symbolic link.
Tried to use "composer vendor-expose copy" with no luck:
[ErrorException]
  copy(C:\ss\vendor\silverstripe\segment-field\client\dist): failed to ope

[2018-08-29 04:59] elkebe opened #804 "Extended UserDefinedForm loses Form Fields after dev/build"
SS4.2.1

I have a page which extends UserDefinedForm as follows:

[code]
The intention here is to include the UserDefinedForm inside the ContactPage. This was working wonderfully in SS3.6.5, however with the upgrade to SS4.2.1, the following happens:

1. create new Contact Page in CMS, add form fields, check it works as desired, publish.
2. run dev/build.
3. refresh Contact Page in CMS (or navigat

[2018-08-29 05:09] elkebe opened #805 "Save and publish buttons broken in SS4.2.1"
Create a new UserDefinedForm in CMS, add some fields, publish.
Click one of the fields to edit it. Scroll to bottom of page and you'll see the save and publish buttons are broken. If the publish button is clicked, you get redirected to page not found (if save button is used instead, it works and form can be published from main page view).

![screen shot 2018-08-29 at 5 05 31 pm](https://user-image

[2018-08-29 21:29] NightJar commented on #805
Hi @elkebe
Can you please provide a list of other modules you have installed (c.f. `composer show`), and whether or not you have any customisations to `Page.php` in your project?

[2018-08-29 21:35] NightJar commented on #804
Hi @elkebe - thanks for reporting.

This has been a known issue with upgrading, but fortunately there is a migration task [UserFormsColumnCleanTask](https://github.com/silverstripe/silverstripe-userforms/blob/master/code/Task/UserFormsColumnCleanTask.php) that you should be able to run to resolve this issue :)

Please let us know if this solves the problem!

[2018-08-29 23:51] robbieaverill commented on #804
Please reopen if @NightJar's suggestion doesn't fix your issue =)

[2018-08-30 03:06] elkebe commented on #804
Found the UserForms MigrationTask, but when I run it, it just shows the title and a blank page. I actually completely rebuilt that part of the database after upgrading to SS4 so it’s current build has always been in SS4 (ie. there shouldn’t be anything to migrate). Running dev/build still causes the same problem after running migrate task.

[2018-08-30 03:13] elkebe commented on #805
Installed modules:
[code]

Page.php
[code]

ContactPage.php
[code]

[2018-08-30 03:15] NightJar commented on #804
Ah, sorry, the mention of SS3 was a bit of a red herring.

So:
- A fresh & standard SS4 install
- Subclass UserDefinedForm to ContactPage
- Create a ContactPage
- Create a form for the ContactPage
- Publish it.
- Observe everything works.
- Run `dev/build`
- Observe nothing works.

Does that summarise your problem?

[2018-08-30 03:16] elkebe commented on #804
@NightJar yep - that's spot on!

[2018-08-30 03:17] elkebe commented on #804
See https://github.com/silverstripe/silverstripe-userforms/issues/805 for installed modules - same project and subclass (ContactPage.php)

[2018-08-31 05:09] stephenmcm commented on #790
Bump. @robbieaverill this and it looks like a couple of other open issues are fixed in 5.2.x-dev it might be worth doing a 5.2.1 tag? Not sure what sort of release cycle userforms is currently following, but I never like doing -dev unless I'm testing stuff.

[2018-09-01 01:34] ScopeyNZ commented on #790
Hmmmn. It probably would've been released by now if it wasn't marked as a minor change. Looks to me like it's just a bugfix, no breaking changes... I will cherry-pick it back into 5.2 and tag a release over the next few days.

[2018-09-01 19:40] dhensby commented on #790
@ScopeyNZ we don't define "bug fixes" based on whether they are breaking changes; breaking changes have to go into new major releases.

If it's a new feature (which this is) then it goes into the next minor release, if it's a bug fix, then it goes into the patch release.

[2018-09-02 09:05] ScopeyNZ commented on #790
Sorry I assumed it was a bug fix from reading the context not the label. It seems a bit broken to me. I won't cherry-pick then, but I think there's a good case for treating this as a patch bug fix.

[2018-09-03 01:00] stephenmcm commented on #790
Yeah fair this should be a minor version bump. I smashed out that reply without putting much thought into versioning. Happy to wait on a proper release.

[2018-09-03 05:58] robbieaverill commented on #764
Pull requests for userforms and the CWP starter theme are at #806 and https://github.com/silverstripe/cwp-starter-theme/pull/60

[2018-09-04 02:28] grandcreation commented on #804
mm, i have the same issue

[2018-09-04 09:07] NightJar commented on #764
Neat, both have been merged. If this doesn't solve your issue please feel free to re-open @digitall-it :)

[2018-09-04 09:07] #764 closed

[2018-09-07 08:29] robbieaverill commented on #772
Yep, reproduced when using userforms in a content block (dnadesign/silverstripe-elemental-userforms)

[2018-09-07 08:45] robbieaverill commented on #772
Fix at https://github.com/silverstripe/silverstripe-userforms/pull/808

[2018-09-07 10:38] robbieaverill commented on #804
Reproduced, thanks for the accurate steps

[2018-09-07 10:52] robbieaverill commented on #804
Ok, so this is happening because the UpgradePolymorphicExtension added in https://github.com/silverstripe/silverstripe-userforms/pull/776 is rewriting ALL polymorphic class names to the default, rather than checking whether the existing value is valid. In this case a subclass of UserDefinedForm is a valid value and it shouldn't do any rewriting.

Fix at #809

You can also disable the extension in

[2018-09-08 06:48] #804 closed

[2018-09-08 06:49] #772 closed

[2018-09-12 09:04] rtgrafik opened #810 "Silverstripe 4 User Defined Form Function"
Hi,

I using your addon (User defined form) at Silverstripe 4.x

At Silverstripe 3.x i am writing you the code which i am adding page.php it is the below

public function ShowForm() {
$record = DataObject::get_one(“UserDefinedForm”, “URLSegment = ‘newsletter-subscribe’”);
$results = new UserDefinedForm_Controller($record);
return $results;
}

But this is not working at SS 4.x how can i call this f

[2018-09-12 09:11] robbieaverill commented on #810
Hi, thanks for taking the time to post to our issue tracker.

The issue tracker is reserved for reporting bugs and we don't provide support via the issue tracker. There are great [community support options](http://www.silverstripe.org/community/#introduction) where you can get help including [our forum](https://forum.silverstripe.org), [Stack Overflow (remember to tag as silverstripe)](http://stac

[2018-09-12 09:11] #810 closed

[2018-09-19 10:14] RoyalPulp opened #811 ""extends Object" PHP 7.2 problem"
affects SS3.7.x  with PHP 7.2
All references to Object have to be changed to SS_Object
The file GridFieldAddClassesButton has still "extends Object"
This leads to "Server errors":

[2018-09-19 10:16] robbieaverill commented on #811
Thanks for the bug report! You can use userforms 4.x-dev until the next release which is compatible with PHP 7.2.

See https://github.com/silverstripe/silverstripe-userforms/pull/794

[2018-09-19 10:16] #811 closed

[2018-09-20 14:16] mlewis-everley opened #814 "HTML is present in the PlainText Body of emails"
I only noticed this because we started using PostMark (which seems to reject HTML emails which have HTML in the Plain Text Body). I suspect though that this will make emails more likely to be seen as spam?

I have tracked the issue (I think) back to this line: https://github.com/silverstripe/silverstripe-userforms/blob/master/code/Control/UserDefinedFormController.php#L294

Looks like the HTML tem

[2018-09-20 15:07] robbieaverill commented on #814
Hi @mlewis-everley - which versions (core and userforms) are you using please?

[2018-09-20 15:16] mlewis-everley commented on #814
Hmm, yes that would help wouldn't it!

SS Framework/CMS: 4.2.1
UserForms: 5.2.1

[2018-09-27 22:19] davejtoews opened #816 "Cannot use '0' (numeral zero) as placeholder value"
I'm attempting to implement a userform which includes numeric fields that should have a placeholder value of '0'. However with that value entered in the placeholder field within the CMS no placeholder were appear.

I'm guessing that somewhere along the line the value is evaluating to false, but zero does appear to be a valid value for other fields, for example Default value.

[2018-09-28 01:58] NightJar commented on #816
Hi @davejtoews thanks for reporting. Seems like a classic case of PHP string->integer conversion `("0" == 0) === true` http://php.net/manual/en/types.comparisons.php

Which version of UserForms is this with?

How would you feel about submitting a PR to resolve your issue?

[2018-09-28 02:35] robertclarkson commented on #804
Using Userforms 5.2 and this issue still exists.
* A fresh & standard SS4 install
* Subclass UserDefinedForm to ContactPage
* Create a ContactPage
* Create a form for the ContactPage
* Publish it.
* Observe everything works.
* Run dev/build
* Observe nothing works.

[2018-09-28 08:34] robbieaverill commented on #804
@robertclarkson can you please try using 5.2.x-dev? The change may not have been released yet

[2018-09-28 16:00] davejtoews commented on #816
Hi @NightJar, I'm on userforms 5.2.1 with Silverstripe 4.1.0.

Happy to submit a PR, but after a quick search yesterday I couldn't find the relevant code I needed to be altering. I can dig deeper, but if you've got any insight on where I should start it would be much appreciated.

[2018-09-30 09:05] NightJar commented on #804
Indeed the latest release is still the same as used in the initial report. (`5.2.1`)

[2018-10-02 20:28] robbieaverill commented on #816
Thanks for fixing this @davejtoews =) (#818 in 5.2.x release line)

[2018-10-02 20:28] #816 closed

[2018-10-04 04:12] janzenz opened #819 "Eslint rules cascades to the parent directory"
I reckon preventing `eslint` rules to cascade to other `eslint` config in the parent directories is a good thing to add since this a package which is used on existing projects.

I encountered an issue where I was trying to build the UI distribution for this package from my `vendors` directory because the `eslint` rules were cascading to the other `eslint` configs found on the parent directories. A

[2018-10-04 08:01] #819 closed

[2018-10-04 08:02] robbieaverill commented on #819
Thanks :-) there may be other places to make this change too if you want to, eg silverstripe/webpack-config

[2018-10-04 22:00] janzenz commented on #819
@robbieaverill I got it! :)

[2018-10-08 14:21] terryapodaca opened #821 "Dropdown Field, when adding options and the list gets long breaks CMS Layout"
Just as the subject says, creating long lists of Options for the Dropdown Field breaks the CMS Layout. I tried to attach a screenshot...so notice the double scroll bars on the browser window. Next notice how all the checkboxes are no longer attached to their options and they float way down the page even after you have scrolled to the end of the list of options.

![image](https://user-images.github

[2018-10-19 19:39] robbieaverill commented on #821
Fix at https://github.com/symbiote/silverstripe-gridfieldextensions/pull/274

[2018-10-19 21:52] #821 closed

[2018-10-29 00:59] phptek opened #824 "DropdownField always validates, even when legit selection made"
framework 4.2.1 / userforms 5.2.1 (also tried 5.2.2) / CWP 2.1.1 / PHP 7.1

I have a basic "Contact Us" form. If I configure it with >=1 dropdown menu; when I make a selection from that dropdown in the frontend, and then submit the form, the form always displays the message: "Please select a value within the list provided. (none) is not a valid option". This is displayed under a dropdown menu rega

[2018-10-29 02:58] NightJar commented on #824
Hi @phptek - are you able to confirm that the HTML output (i.e. before submission) is correct as to expectations please?

[2018-10-29 03:18] phptek commented on #824
@NightJar What HTML output are you after exactly? There is no markup being submitted in the frontend form submission. Let me know exactly what you need and I'll get it to you.

To be clear: The form won't submit if there are 1 or more dropdown field's in it. There is always a validation error, regardless of the selection that is made.

[2018-10-29 09:47] NightJar commented on #824
@phptek I meant the generated HTML that makes up the form, generally containing key information such as `value`, etc. as attributes. I'd like to rule out that there isn't a problem in rendering that's causing a null value to submit (correctly) every time.

Also, I take it that the configuration for the `EditableDropdownField` marks it as required?
If not, then this is strange behaviour (considerin

[2018-10-29 17:16] phptek commented on #824
OK, so the problem is probably that the `<select>` menu isn't being given a `name` attribute, even though one is displayed and apparently automatically provided and set in the CMS as "EditableTextField_ba610". Changing this to something else does nothing.

I have attached the form markup.

[form.txt](https://github.com/silverstripe/silverstripe-userforms/files/2526297/form.txt)

[2018-10-29 21:13] torleif opened #825 "PHP Fatal error: Class 'SilverStripe\UserForms\Model\Page' not found in silverstripe\userforms\code\Model\UserDefinedForm.php on line 11"
If you have your page class name spaced, the userforms module won't be able to pick up on it and will return an error.

it probably should rely on SiteTree, or use some extension magic to allow the user to specify the page type using a yml file.

[2018-10-29 22:07] robbieaverill commented on #825
Hi @torleif, SilverStripe 4 doesn't support namespacing of Page at this time. You can follow more on this topic here: https://github.com/silverstripe/silverstripe-framework/issues/5844

We'd welcome decoupling from Page in this module if you'd like to submit a pull request, but I'm going to close for now. Thanks for raising the issue though =)

[2018-10-29 22:07] #825 closed

[2018-10-29 22:51] NightJar commented on #824
@phptek Are you able to confirm please whether or not your project is using a custom template for forms, form fields, dropdown field, or editable dropdown field in this context?

https://github.com/silverstripe/silverstripe-userforms/blob/7e91be9cb42c5430f67953ff809f78c79abdea9c/code/Model/EditableFormField/EditableDropdown.php#L61-L63

There is nothing too special about the Dropdown field used he

[2018-10-29 22:58] NightJar commented on #825
For reference here @torleif the work here is mostly done (abstracting this module from Page) - in order to circumvent your problem for now I see two solutions:

1. `class_alias` your namespaced Page class. Similar to how SS3 does for Object to be PHP 7.2 compatible
2. Make a PR to exit early `if (!class_exists('Page'))`

You can create a custom userform class simply by applying the traist, as is w

[2018-10-29 23:15] phptek commented on #824
themes/starter/templates/forms/UserFormsField_holder.ss

[code]

themes/starter/templates/forms/FormField_holder.ss

[code]

themes/starter/templates/forms/UserFormsDropdownField.ss

(Not used - adding an extra fake CSS class "foo" didn't show up)

[code]

In the watea theme, we have no relevant form-templates. I copied across the one from "starter" into the correct dir-structuire, but no dice.

I

[2018-10-29 23:18] NightJar commented on #824
@phptek Have you built using Watea as a base?

[2018-10-29 23:18] phptek commented on #824
Starter + Watea yes.

[2018-10-29 23:19] phptek commented on #824
Sorry, I should have added that info at the beginning in hindsight. Until today, I had assumed it was a backend problem.

[2018-10-29 23:19] NightJar commented on #824
welp, that could be an issue! :s - not with `userforms` though!
Lets just double check what providing a parameter to `getAttributesHTML` does... but I suspect this will be the cause (note the complete lack of a `name` attribute specification)

[2018-10-29 23:28] NightJar commented on #824
Yeah, the [parameter is an `exclude`](https://github.com/silverstripe/silverstripe-framework/blob/4.2.1/src/Forms/FormField.php#L692-L707), not a filter. So the `name` attribute should still be present.

Which file did you edit to make it work @phptek ?

[2018-10-29 23:31] phptek commented on #824
I added `{$getAttributesHTML('class')}` to:

`themes/starter/templates/SilverStripe/UserForms/Model/EditableFormField/EditableDropdown.ss`

I just went looking in the cwp-starter-theme repo, and couldn't find an equivalent version of this template _without_ `{$getAttributesHTML('class')}`...

[code]

[2018-10-29 23:45] phptek commented on #824
@NightJar - I'm happy to close this now, as the form with the offending menu is now working.

[2018-10-29 23:50] NightJar commented on #824
🤔
![image](https://user-images.githubusercontent.com/778003/47686665-341b7600-dc41-11e8-82e4-e6f674c261d5.png)
note field name is set here.

Granted I'm testing dev branches here, but lets compare:
[`5.2.x-dev` to `5.2.1`](https://github.com/silverstripe/silverstripe-userforms/compare/5.2.1...5.2) (a few changes)
You mentioned also trying `5.2.2` [https://github.com/silverstripe/silverstripe-userf

[2018-10-29 23:51] NightJar commented on #824
Are you able to confirm it was project code @phptek ?
Or are you just happy with a work around?

[2018-10-30 00:52] phptek commented on #824
@NightJar AFAICT, the code I have added _should_ have been in there already, when a member of our team added it. So yes, I am "happy" to close this. Sorry to have bothered you. Nothing to see here.

[2018-10-30 00:52] #824 closed

[2018-10-30 01:11] NightJar commented on #824
Neat, thanks for clarifying :)
Glad you got it resolved!

[2018-10-30 23:00] stephenmcm commented on #790
Is there any ETA on a minor release? There's a handful of commits ready to go into one now by the look of it.

[2018-11-05 11:44] robbieaverill commented on #790
@stephenmcm most likely in the next week or two

[2018-11-14 16:23] huubl opened #826 "Add extra css class to submit button"
Hi,

How to add extra classes to the submit button? I tried this https://github.com/silverstripe/silverstripe-userforms/issues/469 without any luck.

[2018-11-14 16:35] robbieaverill commented on #826
Hi, thanks for taking the time to post to our issue tracker.

The issue tracker is reserved for reporting bugs and we don't provide support via the issue tracker. There are great [community support options](http://www.silverstripe.org/community/#introduction) where you can get help including [our forum](https://forum.silverstripe.org), [Stack Overflow (remember to tag as silverstripe)](http://stac

[2018-11-14 16:35] #826 closed

[2018-11-16 12:40] robbieaverill commented on #805
Hi @elkebe, it looks like your error is [caused by betterbuttons](https://github.com/search?q=dropdown_form_action.js&type=Code), might be worth bring up the issue over there. Thanks for raising it though.

[2018-11-16 12:40] #805 closed

[2018-11-16 12:47] robbieaverill commented on #767
Closing as a duplicate of https://github.com/symbiote/silverstripe-gridfieldextensions/issues/246

Thank you for the detailed steps to reproduce @Valandur

[2018-11-16 12:47] #767 closed

[2018-11-22 22:16] guyvanbael opened #829 "datefield never passes validation when locale is NL"

[2018-11-22 22:18] guyvanbael commented on #829
silverstripe 422 (but also other 4 versions) adding a datefield never validates (locale is nl_NL). Even when required is unchecked

[2018-11-22 22:57] guyvanbael commented on #829
further test show that the issue occurs when the contentlocale is nl_NL. As a test, i set it to en-GB and the form submitted without a problem.
Hope this can be solved soon, because it probably happening on al european silverstripe websites

[2018-11-22 23:07] guyvanbael commented on #829
nl_BE is also NOT working, fr_FR does work

[2018-11-22 23:15] guyvanbael commented on #829
By the way. Datefield now use native browser datepicker. This doesn't work in Safari
<img width="1436" alt="schermafbeelding 2018-11-23 om 00 15 18" src="https://user-images.githubusercontent.com/3098809/48924095-e4814080-eeb4-11e8-9372-abb4bf855ee2.png">

[2018-11-23 09:02] jrson83 commented on #829
Same bug on German SilverStripe 4.2.2 installation. I guess it's de_DE. Showing "Bitte geben Sie ein gültiges Datum ein.". "Please enter a valid date format".

[2018-11-23 11:01] guyvanbael commented on #829
strange thing is ... it has worked untill a while ago. My client did receive formdata until recently. Maybe chrome and safari changed something in the native html datepicker?

[2018-11-25 18:32] codesipro opened #830 "Subclasses of UserDefinedForm do not work on 4.x"
I've begun upgrading sites from SS 3.7.1 to 4.4.2 and found subclasses of UserDefinedForm no longer see their form fields. Tested with Userforms 5.2.2 and 5.3.

The data is there if you change the page template to UserDefinedForm, so I am not sure if this is the same issues previously reported. I.e. #804 .The form data is not inherited when you switch the page type in the CMS back to the subclass

[2018-11-25 19:15] NightJar commented on #830
Hi @codesipro thanks for reporting. However this is a duplicate of <getting reference here> so I'll close this to keep things consolidated.
Cheers.

[2018-11-25 19:20] #830 closed

[2018-11-28 09:53] NightJar opened #831 "Form field editor jumps to top, meaning one can never scroll to the base of a page"
This may just be when there is _just_ enough fields to causes the issue, have not tested with more.
However it is a frustrating experience to say the least.

Upon scrolling down, the toolbar appears to go into sticky mode, then this appears to trigger the scroll bar to reset.

Video demonstration in a zip, because GitHub only allows gif uploads -.-

[simplescreenrecorder-2018-11-28_22.46.19.zip](h

[2018-11-28 15:13] guyvanbael commented on #829
@jrson83 Did you find a solution. I am breaking my head over this....

[2018-11-28 15:16] jrson83 commented on #829
@guyvanbael No I tried some minutes but the file structure is very complicated. I have no time to write a fix. I was hoping that they would release a fixed version over the weeked :(

[2018-11-28 15:35] guyvanbael commented on #829
yeah, i kinda hoped that too. But i started looking for a fix yesterday, but no luck so far. .. i hope someone can point me in the right direction of fix this since it realy has a great impact on all userforms pages using a datefield here.

[2018-11-28 16:33] jrson83 commented on #829
What I was thinking, you have to somehow change the regex validation function in "client/thirdparty/jquery-validate/additional-methods.js":

[code]
But this would maybe only be a temporary fix. I think there is something wrong with the date input from SilverStripe. Maybe they changed something in 4.2.2.

[2018-11-28 19:41] NightJar opened #832 "Display rules other field selection names are empty when titles are not set"
I have set up a userform with a number of fields
I have given _some_ of these fields titles
When editing a field to be hidden and show itself when another text field `is not blank` I cannot select this field yet, as I have not named it. It exists in the list, but has no title, along with all other fields I have yet to edit after adding to my form.

I think there should be some kind of sensible def

[2018-11-28 19:59] NightJar opened #833 "Text field min to max can be entered backwards"
There is no validation, meaning I can create and save (and publish) an EditableTextField that has validation values set

I can then enter only three characters on the front end form, and it will _never_ validate, telling me I need to enter at least 5 characters.

![image](https://user-images.githubusercontent.com/778003/49178673-38a88b00-f3b5-11e8-9ff2-4d64cc970ae1.png)

![image](https://user-imag

[2018-11-30 09:39] jrson83 commented on #829
@guyvanbael This is no good solution cause it validates everything. I wrote a fix for the german files.

You have to first check how the dateformat looks for NL. For that open userforms/client/third-party/jquery-validate/localization/methods_nl.min.js
Just before the two return statements insert:

`alert(a);`

This will output the dateformat in an alert. For german files it was "2018-01-31".
Now y

[2018-11-30 12:19] robbieaverill commented on #829
Hi team, I think it's fine to modify the thirdparty files in a pull request for this repository, since we're unlikely to be updating that library in future. It's possible that this issue was fixed upstream with https://github.com/jquery-validation/jquery-validation/issues/580, depending on the age of the package we have committed into this repository, but feel free to modify it to fix it here.

[2018-12-03 08:36] guyvanbael commented on #829
@robbieaverill i created a pull request (the right way i hope)

[2018-12-03 20:33] NightJar commented on #829
Congratulations team, seems like the recent merge (and subsequent merge-up) has resolved this!
Thanks @guyvanbael 	@jrson83 and @robbieaverill :)

[2018-12-03 20:33] #829 closed

[2018-12-04 11:38] hubertusanton commented on #333
searched a while and found this solution for ss4 put this in config.yml (might be useful for someone else searching for a solution)

`
SilverStripe\UserForms\Model\Recipient\EmailRecipient:
  allow_unbound_recipient_fields: true
`

[2018-12-05 11:08] madmatt commented on #333
While this is possible, you should be very careful when using it. By enabling this feature, you are in essence turning your web server into an [open mail relay](https://en.wikipedia.org/wiki/Open_mail_relay), and this is very bad for the web in general, and also potentially very bad for yourself or your clients, as it doesn't take long for spammers to find your website, and you'll find your web se

[2018-12-07 01:12] mikenuguid opened #836 "Page display rule not followed"
**Bug:** Display rules applied to a page, apply to form fields contained in the page but not the page itself.
**Expected:** Setting a display rule on a page should apply to the page and any containing form fields.

**See steps to reproduce, below**

I encountered this bug where the display rule set from another form page is not followed on another page. I replicated it by placing a radio button gr

[2018-12-07 01:20] NightJar commented on #836
Hi @mikenuguid
Can you please also include the versions of applicable modules you are working with when experiencing this problem?
e.g. modules such as userforms, cms, admin, and framework

You say you've been able to reproduce this outside of any project - are you able to also supply the steps you've used to set this up in order to reproduce?

Thanks :)

[2018-12-07 01:45] mikenuguid commented on #836
Thanks for the prompt reply @NightJar . I replicated it using the current `UserDefinedForm` pagetype included in the project which was from UserForms module. Here are some more specific details:

UserForms: 4.5.2
CMS: 3.6.5
Framework: 3.6.5

Steps:
1. Used an existing page that was using `UserDefinedPage` type
2. Added Radio Group field on the page under Form Fields tab
3. Assigned 2 options for t

[2018-12-07 01:48] NightJar commented on #836
Neat thanks, so it's all CMS admin configuration that one can do to reproduce.
Awesome - that pretty much rules out project code. However if there's any relevant customisation that your project has that could be relevant (e.g. blocking or adding particular javascript library) please let us know :)

[2018-12-07 02:20] mikenuguid commented on #836
Thanks for checking this out! I cannot find components that could affect this module but I'll definitely let you guys know if I see one.

[2018-12-10 20:38] 3Dgoo commented on #831
What branch should we target for this fix?

[2018-12-10 23:20] NightJar commented on #831
🤔 That is a good question.
Depends on where the issue lies I guess, and when it first manifested.
I'd assume at this point, given the answer to the above are "userforms module" and "since forever" the answer would be "whatever the first version was to support SS4 `.0`.

Using our friend packagist is the easiest way to discover this answer:
https://packagist.org/packages/silverstripe/userforms#4.x-

[2018-12-12 09:48] jrson83 opened #839 "Validation message wrong language"
SilverStripe 4.2.2 & UserForms 5.3

SilverStripe language is set to German. If I set e.g. Textfield to "required" the validation message is displayed in English.

'Fieldname' is required.

On SilverStripe 3.6 with UserForms 3.1 the message was:

'Fieldname' ist ein Pflichtfeld.

Update*:
If I look at the validation language files it actually makes no sense, cause the German validation message look

[2018-12-12 12:16] robbieaverill commented on #569
I think this is done now in SS4

[2018-12-12 12:16] #569 closed

[2018-12-12 13:05] jrson83 opened #840 "Radio button required missing *"
SilverStripe 4.2.2 & UserForms 5.3

The Radio button required * (star) isn't displayed when a Radio button is set to required.

[2018-12-12 13:11] robbieaverill commented on #839
As noted on the framework issue referenced above, it seems like this is caused by a conflict in the i18n keys between the admin module and userforms. This was bound to occur at some point, since we don't have namespacing in them like we do for the PHP translation keys.

In this case I think it's best to resolve this by updating the userforms translation keys to something like `UserFormsAdmin` or s

[2018-12-12 13:13] jrson83 commented on #839
Alright, Thanks for the reply.

[2018-12-13 01:49] NightJar commented on #840
Hi @jrson83 thanks for reporting.
Can you please list the versions of SilverStripe and Userforms that you are using?

https://github.com/silverstripe/silverstripe-userforms/blob/d71c482685b319127d71b544d00aaf675f949d17/code/Model/EditableFormField.php#L758-L761
This code indicates that the `required_identifier` should be agnostic of the field type, as the title is modified directly.

However it is

[2018-12-13 08:41] jrson83 commented on #840
If I inspect a textfield it looks like:

[code]

If I inspect the ::after it has  CSS Rules:

[code]
A radio button doesn't use `<label>` instead it uses `<legend>` and doesn't have the required ::after:

`<legend class="left">Gender</legend>`

[2018-12-13 21:43] NightJar commented on #840
The required asterisk is introduced in the module code as a `<span>` tag with the content of `required_identifier` config setting, and is appended to the `Title` attribute for that field - it would not matter what the CSS is (unless it is specifically being hidden).

This indicates to me that the CSS you're referring to is coming from somewhere else and is not related to this module. The client fa

[2018-12-14 08:07] jrson83 commented on #840
I used Firefox Developer Tools to inspect the ::after element. This is the location and file for the CSS Code I posted above:

https://mydomain.com/resources/themes/mytheme/css/form.css

[code]

[2018-12-15 23:52] NightJar commented on #840
So the CSS file is in _yourtheme_, not a part of this module ;)

Although it seems like your theme has used the default `simple` theme as a base to modify from - if you'd like to make a pull request to address this for that theme, that would be neat. It seems like your suggested fix is to duplicate [this rule](https://github.com/silverstripe-themes/silverstripe-simple/blob/3.2/css/form.css#L201) t

[2018-12-17 15:42] RVXD opened #841 "localisation error message is not working"
in userforms "version": "5.3.0" with and framework 4.3 set locale to nl_NL.

This is missing in the NL language file:

[code]

It will always be in english. Also including messages_nl.min.js does not have any effect because the error messages seem to be always hardcoded in the template.

[2018-12-17 15:51] robbieaverill commented on #841
Hi @RVXD

Our non-English translation files are managed in Transifex. If you'd like to contribute, you can make translations through their web interface: https://www.transifex.com/silverstripe/silverstripe-userforms/dashboard/

Are you able to reference the specific string you're talking about? That file is used for jQuery validation translations in JavaScript only. SilverStripe template translati

[2018-12-17 16:15] robbieaverill commented on #841
Actually, sorry - this has already been fixed with https://github.com/silverstripe/silverstripe-userforms/pull/838. It'll be available in the next release. In the meantime you can either add the snippet you posted to your project language files, or update to use userforms 5.3.x-dev instead of 5.3.0

[2018-12-17 16:15] #841 closed

[2018-12-17 17:01] RVXD commented on #841
Okay, thanks for the quick response. Because I guess it was missing in all language files.

[2018-12-19 08:01] jrson83 commented on #840
Alright thanks, I will create a pull request for the theme.

[2018-12-20 09:06] #840 closed

[2018-12-21 10:54] macka601 opened #842 "Custom Templating"
Hi,
wondered if it's possible to do a custom template for the userform? Trying to create a general contact form and would like it to be styled a bit more bootstrappy like.

thanks

[2018-12-21 10:56] robbieaverill commented on #842
Hi, thanks for taking the time to post to our issue tracker.

The issue tracker is reserved for reporting bugs and we don't provide support via the issue tracker. There are great [community support options](http://www.silverstripe.org/community/#introduction) where you can get help including [our forum](https://forum.silverstripe.org), [Stack Overflow (remember to tag as silverstripe)](http://stac

[2018-12-21 10:56] #842 closed

[2018-12-22 03:39] NightJar commented on #842
Hi @macka601,
The userforms module uses normal FormFields from SilverStripe's core to render the HTML. These are customisable through templates.
The caveat is that you should do this in a theme, so that the changes do not affect all fields everywhere, and instead only apply wherever your theme list does (i.e. the 'front-end' of the website).

You can read more about this [in the documentation](htt

[2019-01-08 05:36] jsirish opened #843 "legacy.yml - incorrect classes for EmailRecipient, EmailRecipientCondition"
in 4.0.x and previous, the old classnames were UserDefinedForm_EmailRecipient, UserDefinedForm_EmailRecipientCondition

[2019-01-08 09:21] robbieaverill commented on #843
Fixed in #844, thanks @jsirish

[2019-01-08 09:21] #843 closed

[2019-01-10 22:31] brynwhyman commented on #836
I've reproduced this on SS4 too.
(cwp/cwp-recipe-kitchen-sink ^2.2)
silverstripe/cms 4.3.0
silverstripe/framework 4.3.0
silverstripe/userforms  5.3.0

**Bug**: Display rules applied to a page, apply to form fields contained in the page but not the page itself.
**Expected**: Setting a display rule on a page should apply to the page and any containing form fields.

1. Display page
![image](https://u

[2019-01-10 22:49] mikenuguid commented on #836
Thanks @brynwhyman for replicating this issue on SS4!

[2019-01-15 20:30] LukeAmos commented on #833
What versions of PHP, UserForms and SilverStripe are you using?
Thanks
Luke

[2019-01-15 21:13] NightJar commented on #833
Hi Luke,

This was a while ago I'm sorry, so I'm not sure. I believe looking at the time stamp though that this will be `SilverStripe 4.3.0-rc1` and `Userforms 5.3.0`

[2019-01-15 21:20] LukeAmos commented on #833
Hi @NightJar
That's fine.  I'll look into it now

[2019-01-16 02:57] #833 closed

[2019-01-16 03:04] ScopeyNZ opened #850 "Numeric field min/max validation can be entered backwards"
In a very similar vein to #833 it is possible enter the validation settings for numeric fields so it is impossible to have a valid value by reversing the min and max number:

![image](https://user-images.githubusercontent.com/3260989/51223830-52735100-19a8-11e9-8d23-64b587f0d9e1.png)
![image](https://user-images.githubusercontent.com/3260989/51223802-31126500-19a8-11e9-8a10-bfb8e16ea157.png)
![ima

[2019-01-16 09:18] robbieaverill commented on #814
I've left a comment on https://github.com/silverstripe/silverstripe-userforms/pull/848#pullrequestreview-193035751 which I think needs to be addressed before we can consider this closed

[2019-01-16 10:47] LukeAmos commented on #850
Have added validation to UserDefinedNumericalField.php.  feel free to review

[2019-01-16 21:12] #850 closed

[2019-01-16 21:12] robbieaverill commented on #850
Thanks @LukeAmos!

[2019-01-16 21:55] #814 closed

[2019-01-16 22:09] LukeAmos commented on #606
Works on userforms 5.x-dev

[2019-01-16 22:22] NightJar commented on #606
Thanks @LukeAmos - would you mind perhaps testing on 4.x dev also?
It's possible this can just be closed :)

[2019-01-16 23:05] LukeAmos commented on #606
@NightJar.  I am having trouble changing my version of userforms.  could you please let me know the best way to go about testing on 4.x dev.

Thanks

Luke

[2019-01-16 23:11] NightJar commented on #606
🤔 The issue probably stems from incompatibilities with various versions.

`5.x-dev`:
https://github.com/silverstripe/silverstripe-userforms/blob/1ad1019e0a0036e02c6775bf33a1b4dd3ba72d8e/composer.json#L32-L37

vs

`4.x-dev`:
https://github.com/silverstripe/silverstripe-userforms/blob/caf6a5b81431e1149c5e2c7043b64a1dce8ff627/composer.json#L32-L37

Which, now that I've taken a closer look ... 4.x is

[2019-01-16 23:15] LukeAmos commented on #606
@NightJar all good.  Do you still want me to try it on Userforms 4.x.
:)

[2019-01-16 23:16] NightJar commented on #606
No, the value is extremely low. We'd rather people upgraded :>

[2019-01-16 23:17] NightJar commented on #606
# Closing a SilverStripe 3 issue

Unfortunately, [SilverStripe 3 has entered limited support in June 2018](https://www.silverstripe.org/blog/update-on-silverstripe-5-x/). This means we'll only be fixing critical bugs and security issues for SilverStripe 3 going forward.

You can read the [SilverStripe Roadmap](https://www.silverstripe.org/software/roadmap/) for more information on our support comm

[2019-01-16 23:18] NightJar commented on #606
Thanks for prompting the re-look and thus closure though @LukeAmos ! :)

[2019-01-17 20:37] robbieaverill commented on #730
That’ll be because it was fixed last week with https://github.com/silverstripe/silverstripe-userforms/pull/845!

[2019-01-17 20:37] #730 closed

[2019-01-18 15:43] robbieaverill commented on #543
Closing with the merge of #854

[2019-01-18 15:43] #543 closed

[2019-01-27 23:05] NightJar commented on #442
I'm reopening this as policy must have changed since closure, we certainly allow feature requests as GitHub issues now :)

[2019-01-28 23:16] NightJar commented on #442
Good news, @3Dgoo has added this feature, and it'll be in the next minor release; 5.4.0 :)

[2019-01-28 23:16] #442 closed

[2019-01-29 13:50] a2nt opened #856 "UserDefinedForm table doesn't exists"
UserDefinedForm::get()->byID($formID); throws an error:

Table 'dev.UserDefinedForm' doesn't exist

SilverStripe\ORM\DataList->byID(12)
EmailRecipient.php:154

Checked DB that's true that UserDefinedForm table doesn't exists and it looks weird.
Tried /dev/build?flush the table wasn't created

composer info:
[code]

[2019-02-15 07:48] sammyvn opened #857 "Upload multiple files in File Upload Field"
In SS4, I have a contact form and want to upload multiples files with this form. But now, userform doesn't support this purpose (I used File Upload Field). Could you give me any solution for my issue?.
Thank you,

[2019-02-15 07:51] robbieaverill commented on #857
Hi, thanks for taking the time to post to our issue tracker.

The issue tracker is reserved for reporting bugs and we don't provide support via the issue tracker. There are great [community support options](http://www.silverstripe.org/community/#introduction) where you can get help including [our forum](https://forum.silverstripe.org), [Stack Overflow (remember to tag as silverstripe)](http://stac

[2019-02-15 07:51] #857 closed

[2019-02-15 08:02] sammyvn commented on #857
Many thanks for your comment.

[2019-02-28 03:00] tardinha commented on #790
@robbieaverill did this ever get fixed?

[2019-02-28 03:51] NightJar commented on #790
@tardinha Yes, in `5.2.1` it sounds like.
Thanks for the bump.

[2019-02-28 03:52] NightJar commented on #790
Cancel that sorry @tardinha - looking at the change logs for the releases, looks like it finally made it out in [`5.3.0`](https://github.com/silverstripe/silverstripe-userforms/releases/tag/5.3.0)

[2019-02-28 04:27] tardinha commented on #790
@NightJar do you know if this relies on any particular version of elemental?

We have 5.3.0 already running with SS 4.2.4 with elemental 3.x, and forms aren't showing.

[2019-02-28 19:50] NightJar commented on #790
Oh, no sorry, I just read back on this comment thread. It seems I was too hasty to close :)

[2019-03-05 19:03] tiefseh opened #858 "Custom Template"
Hi, sorry but where would I put a custom template?

themes/mytheme/templates/Silverstripe/UserForms/UserForm.ss  is not doing it.

[2019-03-05 19:36] ScopeyNZ commented on #858
Hi, thanks for taking the time to post to our issue tracker.

The issue tracker is reserved for reporting bugs and we don't provide support via the issue tracker. There are great [community support options](http://www.silverstripe.org/community/#introduction) where you can get help including [our forum](https://forum.silverstripe.org), [Stack Overflow (remember to tag as silverstripe)](http://stac

[2019-03-05 19:36] #858 closed

[2019-03-08 03:12] robbieaverill commented on #839
@jrson83 this should have been fixed with https://github.com/silverstripe/silverstripe-userforms/pull/807, which is included in userforms 5.3.0. Which version exactly are you using?

[2019-03-08 08:36] jrson83 commented on #839
@robbieaverill still SS 4.2.2 and UserForms 5.3. The issue still exists on my installation for text input fields, dropdown fields and fileupload fiels. It's working fine for radio buttons.

[2019-03-08 08:38] robbieaverill commented on #839
Can you confirm the exact version you’re using? Eg is it 4.3.0 or 4.3.dev with a specific hash? composer show silverstripe/userforms will help

[2019-03-08 08:42] jrson83 commented on #839
@robbieaverill

composer show:
versions : * 5.3.0

[code]

[2019-03-11 03:42] robbieaverill opened #860 "Text field length inputs are slightly out of alignment"
**SS 4.3.2 with userforms 5.3.0**

![image](https://user-images.githubusercontent.com/5170590/54099152-ac2e4f80-441c-11e9-9701-2d71b75a2a9f.png)

The "to" text is a bit oddly aligned.

[2019-03-11 03:49] robbieaverill opened #861 "Checkbox group options "selected by default" translates to "disabled""
**SS 4.3.2 and userforms 5.3.0 with starter theme 2.0.x and watea 2.1.x**

* Create a checkbox group
* Add some options
* Make one "selected by default"
* View the frontend

![image](https://user-images.githubusercontent.com/5170590/54099336-aab15700-441d-11e9-9ebe-3e0e9d3f4762.png)

Expected: one should be checked by default

Actual: it is, but it's also readonly/disabled so you can't uncheck it